
/* @import url(http://fonts.googleapis.com/css?family=Press+Start+2P); */

* { margin: 0;
 padding: 0; }

ul,li { list-style: none;   }
body {
    font-family: trebuchet ms, tahoma, verdana, arial, helvetica;
    color: #101010;
    font-size:13px;
}

#page {

    width: 100%;
    max-width: 980px;
    min-height: 500px;
    margin: 0 auto;
    background: #FFF7E8;
    padding: 0% 1%;
}

#page h1  {
    font-family: 'Press Start 2P', cursive;
    color: maroon;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}

#page section {
    padding: 10px;
    background: #BFFFE6;
    border: dotted 1px #b63300;
    border-radius: 10px;
    margin-bottom: 15px;
}

#page section h2 {
    font-family: 'Audiowide', cursive;
    font-size: 15px;
    color: #2b542c;
    margin-bottom: 10px;
}


.box { min-width: 50px;
    min-height: 50px;
    background: #808080;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.selected {
    border:  solid 2px #ff0000;
}


.arrow-target {
    position: fixed;  top: 50vh;
}
.arrow-target i {
    font-size: 35px;
    color: orangered;
}

.arrow-target#at_up { left: 1%;  }
.arrow-target#at_down {  right: 1%; }
/*  */


/*-- la font ---*/

@font-face {
    font-family: "generic-fonts";

/*    src:url("fonts/tw_fonts/tests-web.eot?2");
    src:url("fonts/tw_fonts/tests-web.eot?#iefix?2") format("embedded-opentype"),
    url('fonts/tw_fonts/tests-web.woff?2') format('woff'),
    url("fonts/tw_fonts/tests-web.ttf") format("truetype"),
    url("fonts/tw_fonts/tests-web.svg#icomon?2") format("svg");*/

    src:url("fonts/generic-fonts_plusT1200/icomoon.eot?1");
    src:url("fonts/generic-fonts_plusT1200/icomoon.eot?#iefix?2") format("embedded-opentype"),
    url('fonts/generic-fonts_plusT1200/icomoon.woff?2') format('woff'),
    url("fonts/generic-fonts_plusT1200/icomoon.ttf") format("truetype"),
    url("fonts/generic-fonts_plusT1200/icomoon.svg?2") format("svg");
    font-weight: normal;
    font-style: normal;
}


 i{
    font-family: "generic-fonts";  /* l'appelle de la font ds les balise et class qui auront des icones ... */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    display: inline-block;
    pointer-events: none;
}

.icon-angry:before {
    content: "\ec2b";
}

.icon-angry2:before {
    content: "\ec2c";
}
.icon-coins:before {
    content: "\e9d4";
}

