{# import "../2-molecules/_main-menu.twig" as mainMenu #}
{# include "../2-molecules/_search-form.twig" #}

    <header class="header {{addClass}}"> <div class="container">
        <div class="header_logo">
            LOGO
        </div>
        {% include "../2-molecules/_main-menu.twig" with { 'addClass': 'added-mm'} %}
        {% include "../2-molecules/_search-form.twig" with { 'addClass': 'search--top'} %}
    </div>
</header>
