<header class="header">
    <div class="container">
        <div class="header_logo"></div>
        {% include "../2-molecules/_main-menu.twig" %}
        {% include "../2-molecules/_search.twig" %}
    </div>
</header>
