{# {% import "../2-molecules/_main-menu.twig" as mainMenu %}
{% import "../2-molecules/_search-form.twig" as searchForm %} #}

{% macro dispaly(addClass="") %}
    <header class="header {{addClass}}">

        <div class="container">
            <div class="header_logo">
                LOGO
            </div>
            <p>
                header ctn
            </p>
            {#             {{ mainMenu.dispaly("") }}
                        {{ searchForm.dispaly("") }} #}
        </div>
    </header>
{% endmacro %}
