.cpt-tabs-slides {

    .tabs-item {

    } 


    
    .item-nav {
        background-color: orange;
        border: 1px solid #eee;
        padding: $gutter-half;

        &.closed {
             background-color: lightblue;
            + .item-ctn {
               height: 0px !important;
            }
        }
    }

    .item-ctn {
        border: 1px solid #eee;
        overflow: hidden;
        @include transit();
    } 
} 