{{> header}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Hello <i class="fa fa-smile-o"></i></i></h1>
      <img src="img/test-img.png" alt="Test" width="92" />
    </div>
  </div>
</div>

{{> footer}}