/**********************/
/*     PAGE HOTEL     */
/**********************/

.content {
    .colonne-principale-2 {
        padding-top: 100px;
        padding-bottom: 80px;
        
        h2 {
            font-family: "Roboto-Bold";
            font-size: 31px;
        }
        h3 {
            font-family: "Roboto-Thin";
            font-size: 31px;
            margin-bottom: 15px;
        }
        h4 {
            font-family: "Roboto-Bold";
            font-size: 19px;
            margin-bottom: 15px;
        }
        .adresse {
            font-size: 13px;
            padding-bottom: 20px;
        }
        #carousel-hotel {
            margin-bottom: 20px;
            
            .infos-generales {
                background-color: $blanc2;
                position: relative;
                margin-bottom: 20px;
                min-height: 200px;
                
                .carousel-inner {
                    float: left;
                    width: 650px;
                    
                    @media screen and (min-width: 768px) and (max-width: 1159px) {
                        width: 550px;
                    }
                    @media screen and (max-width: 767px) {
                        float: none;
                        width: auto;
                    }
                    .item {                        
                        img {
                            float: left;
                        }
                        p {
                            position: absolute;
                            padding: 10px;
                            background-color: $gris;
                            width: 100%;
                        }                        
                    }
                    .carousel-control {
                        z-index: 100;
                    }
                }
                .colonne-droite {
                    margin-left: 650px;
                    padding: 30px 15px;
                    
                    @media screen and (min-width: 768px) and (max-width: 1159px) {
                        margin-left: 550px;
                    }
                    @media screen and (max-width: 767px) {
                        margin-left: 0;
                        position: relative;
                    }
                    .note {
                        font-size: 23px;
                        font-family: "Roboto-Bold";
                    }
                    .avis {
                        font-size: 14px;
                        margin-bottom: 20px;
                    }
                    ul {
                        list-style: none;
                        margin-bottom: 20px;
                        
                        li {
                            font-size: 14px;
                            
                            &:before {
                                content: "-";
                                display: inline-block;
                                padding-right: 2px;
                            }
                        }
                    }
                    .reservation {
                        display: inline-block;
                        font-family: "Roboto-Bold";
                        font-size: 17px;
                        background-color: $bleu-marine;
                        color: $blanc;
                        text-decoration: none;
                        width: 100%;
                        padding: 6px 12px;
                        text-align: center;
                        margin-bottom: 0;
                    }
                    .favori {
                        position: absolute;
                        bottom: 20px;
                        right: 20px;
                        background: url(../images/coeur.png) no-repeat;
                        width: 27px;
                        height: 24px;
                        
						&.plein {
							background: url(../images/coeur-plein.png) no-repeat;
						}
						
                        @media screen and (max-width: 767px) {
                            bottom: initial;
                            top: 50%;
                        }
                    }
                }
                &:after {
                    content: "";
                    display: block;
                    clear: left;
                }
            }
            .liste-vignettes {
                margin: 0 -1%;
                position: relative;
                left: 0;
                bottom: 0;
                width: 100%;
                
                .vignette {
                    width: 10%;
                    float: left;
                    padding: 1%;
                    margin: 0;
                    height: auto;
                    text-indent: 0;
                    border: none;
                    @include border-radius(0);
                    
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            &:after {
                content: "";
                display: block;
                clear: left;
            }
        }
        .descriptif {
            margin-bottom: 45px;
            
            p {
                font-size: 13px;
                margin-bottom: 10px;
                
                strong, b {
                    font-family: "Roboto-Bold";
                    font-weight: normal;
                }
            }
        }
        .carte, .reservation, .recherche, .equipements-services, .infos-pratiques, .y-aller {
            padding-bottom: 23px;
            margin-bottom: 22px;
            border-bottom: 1px solid $gris;
            
            p {
                font-family: "Roboto-Light";
                font-size: 13px;
            }
        }
        .carte {
            .map {
                position: relative;
                
                img {
                    width: 100%;
                }
                .btn-container {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform-translate(-50%, -50%);
                    
                    .btn-recherche {
                        padding: 10px 20px;
                    }
                }
                &:before {
                    content: "";
                    display: block;
                    background-color: $noir;
                    opacity: 0.2;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                }
            }
            .modal {
                .modal-dialog {
                    height: calc(100% - 60px);
                    
                    .modal-content {
                        height: 100%;
                        
                        .modal-body {
                            height: 100%;
                            
                            .close {
                                position: absolute;
                                right: -15px;
                                top: -15px;
                                background-color: #cacaca;
                                padding: 3px 8px;
                                opacity: 1;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        .reservation {
            .date {
                display: inline-block;
                border: 1px solid $blanc2;
                vertical-align: top;
                
                 @media screen and (max-width: 767px) {
                    width: 100%;
                     border: none;
                }
                input {
                    border: none;
                    padding: 12px 9px 10px;
                    width: 171px;
                    
                    &.arrivee {
                        background: url('../images/fleche-pleine.png') no-repeat right center;
                        
                        @media screen and (max-width: 767px) {
                            background-image: none;
                        }
                    }
                    &.arrivee, &.depart {                        
                        &:before {
                            content: attr(placeholder);
                            width: 100%;
                            background-color: $blanc;
                        }
                        &:hover, &:focus, &:active, &.actif {
                            &:before {
                                display: none;
                            }
                        }
                         @media screen and (max-width: 767px) {
                            width: 100%;
                            margin-bottom: 6px;
                            border: 1px solid $blanc2;
                        }
                    }
                }
            }
            .chambre-selection {
                display: inline-block;
                vertical-align: top;
                
                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 18px;
                    height: auto;
                }
                .colonne {
                    display: inline-block;
                    padding: 12px 12px 8px;
                    border: 1px solid $blanc2;
                    border-left: none;
                    margin-left: -4px;
                    
                    @media screen and (max-width: 767px) {
                        width: 33.3333%;
                        border: none;
                        padding: 5px 0;
                    }
                    label {
                        font-family: "Roboto-Medium";
                        font-size: 13px;
                        font-weight: normal;
                        color: $bleu-marine;
                        width: 50px;
                        margin-bottom: 0;
                        padding-bottom: 5px;
                        text-indent: -3000px;
                            
                        &.single {
                            background: url('../images/picto-chambre-single.png') no-repeat center center;
                            background-size: 32px;
                        }
                        &.twin {
                            background: url('../images/picto-chambre-twin.png') no-repeat center center;
                            background-size: 32px;
                        }
                        &.double {
                            background: url('../images/picto-chambre-double.png') no-repeat center center;
                            background-size: 32px;
                        }
                        @media screen and (max-width: 767px) {
                            width: 100%;
                            padding-right: 0;
                            text-align: center;
                        }
                    }
                    .pad {
                        display: inline-block;
                        background-color: $blanc;
                        text-align: center;
                        
                        @media screen and (max-width: 767px) {
                            width: 100%;
                            text-align: center;
                            padding: 10px 0;
                            border-top: 1px solid $blanc2;
                            border-left: 1px solid $blanc2;
                            border-bottom: 1px solid $blanc2;
                        }
                        span {
                            padding: 0 3px;
                        }
                        button {
                            background-color: transparent;
                            border: none;
                            
                            &.plus {
                                font-family: "Roboto-Medium";
                                font-size: 13px;
                                color: $bleu-marine;
                            }
                        }
                    }
                    &:last-child {
                        .pad {
                            @media screen and (max-width: 767px) {
                                border-right: 1px solid $blanc2;
                            }
                        }
                    }
                }
                &:after {
                    content: "";
                    display: block;
                    clear: left;
                }
            }
            .btn-container {
                display: inline-block;
                vertical-align: top;
                margin-left: 10px;
                
                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-left: 0;
                }
                .btn-recherche {
                    width: auto;
                    padding: 10px 12px;
                    
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }
        .recherche {
            #hotelRooms {
                position: relative;
                
                .fond {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    min-height: 64px;
                    background-color: rgba($noir, 0.25);
                    color: $bleu-marine;
                    z-index: 5;
                    
                    .chargement {
                        position: relative;
                        top: 50%;
                        @include transform-translate(0,-50%);
                        text-align: center;
                    }
                }
                &.search {
                    padding: 30px 0;
                    
                    .fond {
                        display: block;
                    }
                }
            }
            .chambre {
                margin-bottom: 40px;
                
                .titre {
                    font-family: "Roboto-Bold";
                    font-size: 15px;
                    margin-bottom: 10px;
                }
                .offre {
                    display: table;
                    table-layout: fixed;
                    background-color: $blanc2;
                    width: 100%;
                    
                    .photo, .descriptif, .options, .prix, .btn-container {
                        display: table-cell;
                        vertical-align: top;
                        
                        @media screen and (max-width: 767px) {
                            display: block;
                            border: none !important;
                            padding: 10px !important;
                            margin-bottom: 0 !important;
                        }
                    }
                    .photo, .descriptif, .options {
                        @media screen and (max-width: 767px) {
                            width: 100% !important;
                        }
                    }
                    .photo {
                        width: 250px;
                        
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    .descriptif {
                        width: 170px;
                        padding: 40px 10px 20px 15px;
                        border-right: 1px solid $gris3;
                        
                        p {
                            font-size: 14px;
                            margin-bottom: 10px;
                            
                            &.lit {
                                font-family: "Roboto-Bold";
                            }
                        }
                        
                    }
                    .options {
                        width: 178px;
                        padding: 40px 10px 20px;
                        border-right: 1px solid $gris3;
                        
                        p {
                            margin-bottom: 10px;
                            
                            &.plus {
                                font-family: "Roboto-Bold";
                                font-size: 14px;
                                color: $bleu-marine;
                            }
                        }
                    }
                    .prix {
                        width: 91px;
                        padding: 40px 10px 20px;
                        text-align: center;
                        border-right: 1px solid $gris3;
                        
                        @media screen and (max-width: 767px) {
                            float: left;
                            width: 50%;
                        }
                        .avant, .remise, .apres {
                            @media screen and (max-width: 767px) {
                                float: left;
                                display: block;
                            }
                        }
                        .avant, .remise {
                            font-size: 14px;
                            
                            @media screen and (max-width: 767px) {
                                line-height: 45px;
                                width: 50%;
                            }
                        }
                        .avant {
                            font-family: "Roboto-Bold";
                            text-decoration: line-through;
                        }
                        .apres {
                            font-family: "Roboto-Bold";
                            font-size: 32px;
                            
                            @media screen and (max-width: 767px) {
                                margin-right: 0;
                                width: 100%;
                            }
                        }
                    }
                    .btn-container {
                        width: 127px;
                        padding: 40px 12px 20px;
                        text-align: center;
                        
                        @media screen and (max-width: 767px) {
                            float: left;
                            width: 50%;
                        }
                        .bootstrap-select {
                            width: auto;
                            margin-bottom: 10px;
                            
                            .caret {
                                color: $bleu-marine;
                            }
                        }
                        .btn-recherche {
                            padding: 10px;
                        }
                    }
                }
            }
            .options {
                margin-bottom: 40px;
                
                h4 {
                    font-family: "Roboto-Medium";
                    font-size: 21px;
                    color: $bleu-marine;
                }
                table {
                    .picto {
                        width: 5%;
                        
                        &:before {
                            content: "";
                            display: inline-block;
                            background: url("../images/pictos-options.png") no-repeat;
                            width: 30px;
                            height: 30px;
                        }
                        &.parking {
                            &:before {
                                background-position: 50% 4px;
                            }
                        }
                        &.boisson {
                            &:before {
                                background-position: 50% -25px;
                            }
                        }
                        &.diner {
                            &:before {
                                background-position: 50% -57px;
                            }
                        }
                    }
                    .titre {
                        position: relative;
                        width: 83%;
                        
                        @media screen and (max-width: 767px) {
                            padding: 0 5px;
                        }
                        p {
                            display: inline-block;
                            background-color: $blanc;
                            position: relative;
                            z-index: 10;
                            font-size: 14px;
                            padding-right: 10px;
                        }
                        &:after {
                            content: "";
                            display: inline-block;
                            border-top: 1px solid $gris;
                            width: 100%;
                            position: absolute;
                            top: 18px;
                            left: 0;
                            z-index: 5;
                            
                            @media screen and (max-width: 767px) {
                                display: none;
                            }
                        }
                    }
                    .prix {
                        width: 7%;
                        font-family: "Roboto-Bold";
                        padding-left: 10px;
                        
                        @media screen and (max-width: 767px) {
                            padding: 0 5px;
                        }
                    }
                    .nbr {
                        width: 5%;
                        
                        .bootstrap-select {
                            width: auto;
                        }
                    }
                }
            }
            .panier {
                h4 {
                    font-family: "Roboto-Medium";
                    font-size: 21px;
                    color: $bleu-marine;
                    background: url("../images/picto-panier.png") no-repeat;
                    padding: 3px 0 4px 40px;
                }
                .fond {
                    background-color: $blanc2;
                    padding: 20px 30px;
                    
                    @media screen and (max-width: 767px) {
                        padding: 15px;
                    }
                    p {
                        padding: 10px 0;
                        font-size: 14px;
                        
                        &.prix {
                            font-family: "Roboto-Bold";
                            font-size: 32px;
                            padding: 30px 0 10px;
                            text-align: center;
                            margin-bottom: 10px;
                        }
                    }
                    a.btn {
                        width: 100%;
                        background-color: $bleu-marine;
                        border: none;
                        padding: 10px 10px;
                        font-family: 'Roboto-Bold';
                        font-size: 18px;
                        text-decoration: none;
                        margin-bottom: 20px;

                        &:active:focus, &:active:hover {
                            background-color: darken($bleu-marine, 0.5);
                        }
                        &:hover {
                            background-color: $bleu-marine-hover;
                        }
                    }
                    .col-md-3 {
                        border-left: 1px solid $gris;
                        
                        @media screen and (max-width: 767px) {
                            border-left: none;
                        }
                        & + .col-md-3 {
                            @media screen and (max-width: 991px) {
                                border-left: none;
                            }
                        }
                    }
                }
                .sticky-panier {
                    display: none;
                    position: fixed;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    z-index: 1000;
                    
                    @media screen and (max-width: 991px) {
                        display: none !important;
                    }
                    .fond {
                        padding: 5px 0px;
                        
                        .mini-panier {
                            p {
                                padding: 5px 0;
                            }
                            .cell {
                                position: relative;
                                min-height: 60px;

                                p, a {
                                    position: absolute;
                                    top: 50%;
                                    @include transform-translate(0,-50%);
                                    padding: 5px 0;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .equipements-services {            
            .liste {
                span {
                    font-family: "Roboto-Medium";
                    font-size: 13px;
                    line-height: 26px;
                    color: $gris2;
                    padding-left: 25px;
                    
                    &.actif {
                        color: $gris-fonce;
                        background: url(../images/coche.png) no-repeat center left;
                    }
                }
            }
        }
        .y-aller {
            table {
                margin-bottom: 30px;
                
                td {
                    font-family: "Roboto-Medium";
                    font-size: 13px;
                    padding: 6px 10px 6px 0;
                    
                    span {
                        display: inline-block;
                        vertical-align: top;
                        text-align: center;
                        width: 22px;
                        height: 22px;
                        line-height: 22px;
                        font-size: 16px;
                        @include border-radius(50%);
                        
                        &.m {
                            font-family: "Roboto-Bold";
                            border: 2px solid $base;
                            color: $base;
                            font-size: 16px;
                            line-height: 18px;
                        }
                        &.r {
                            font-family: "Roboto-Bold";
                            border: 2px solid $base;
                            color: $base;
                            font-size: 9px;
                            line-height: 18px;
                            letter-spacing: -0.5px;
                        }
                        &.m2 {
                            background-color: $m2;
                            color: $blanc;
                        }
                        &.m3 {
                            background-color: $m3;
                            color: $blanc;
                        }
                        &.m12 {
                            background-color: $m12;
                            color: $blanc;
                            letter-spacing: -2px;
                            text-align: left;
                            padding-left: 2px;
                        }
                        &.m13 {
                            background-color: $m13;
                            color: $blanc;
                            letter-spacing: -2px;
                            text-align: left;
                            padding-left: 2px;
                        }
                        &.m14 {
                            background-color: $m14;
                            color: $blanc;
                            letter-spacing: -2px;
                            text-align: left;
                            padding-left: 2px;
                        }
                        &.re {
                            background-color: $re;
                            color: $blanc;
                        }
                    }
                }
            }
        }
    }
    .nos-engagements {
        padding: 0 0 60px;
        
        @media screen and (max-width: 991px) {
            padding-top: 30px;
        }
        &.fond {
            background-color: $blanc2;
            padding-top: 80px;
        }
    }
}