/******* Liste des variables SCSS ********/

$blanc: #ffffff;
$blanc2: #f1f3f5;
$blanc3: #f2f4f6;

$noir: #000000;

$gris-clair: #e8ebef;
$gris-clair2: #e9ebed;

$gris: #c3c5c9;
$gris2: #aeaeae;
$gris3: #d5d6d7;
$gris4: #959595;
$gris5: #dcdfe3;
$gris6: #9e9e9e;
$gris7: #aeb7c1;

$gris-fonce: #313131;

$bleu-marine: #109cab;
$bleu-marine2: #66c1cb;
$bleu-marine3: #009cb2;
$bleu-marine4: #26abb9;
$bleu-marine5: #48b6c2;

$bleu-marine6 : #259caa; 
$bleu-marine7 : #069bab;

$rouge: #ff0000;

$pr-bleu : $bleu-marine6;
$pr-bleu-hover : #4eb6c1;

// Couleurs métro :
$base: #5656b9;
$m2: #0664aa;
$m3: #9f9718;
$m12: #016a3c;
$m13: #99d3de;
$m14: #62227f;
$re: #d56bb4;


$bleu-marine-hover: #48b6c2;