$bgbody : #d1d9d2d2;


// FONTS
/* @font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$font-family-titles: 'Montserrat',sans-serif;
$font-family-content: 'Arial',sans-serif;
$fw-title-light: 300;
$fw-title-regular: 400;
$fw-title-bold: 700;
$fw-title-black: 900;

// COLORS 
$color-black-primary: #22252b;
$color-black-secondary: #30333b;
$color-gray-meduim: #a9b0bc;
$color-gray-lighter: #f3f5f9;
$color-brand-primary: #ec0027;

// gutter
$gutter: 30px;
$gutter-half: $gutter/2;

// Grid breakpoints ( bootsrap ) 
$bp-min-sm: 768px;
$bp-min-md: 992px;
$bp-min-lg: 1200px;
$bp-max-xs: ($bp-min-sm - 1);
$bp-max-sm: ($bp-min-md - 1);
$bp-max-md: ($bp-min-lg - 1);