<div class="cpt-range-slider" id="cpt-id-range-slider">
    <div class="slider-values">
        Entre <span class="min-value"></span>
        et <span class="max-value"></span>
    </div>
    <div class="slider-label">
        <span class="label-min"></span>
        <span class="label-max"></span>
    </div>
    <div class="slide-range" data-min="0" data-max="10" data-unit="$" data-step="1"
        data-min-current="" data-max-current="">
    </div>
    <input type="hidden" value="5" name="rangeSlider" class="price-input">
</div>