<div class="cpt-tabs-slides">
    <div class="tabs-slides--wrapper">
        <div class="tabs-item">
            <div class="item-nav closed">
                nav 01
            </div>
            <div class="item-ctn">
                <div class="ctn-wrapper">
                    content 01 ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quam voluptatibus
                    similique possimus totam, ratione, inventore ab quasi aut deserunt nisi enim voluptas expedita
                    doloribus cumque amet ad soluta dignissimos!<br>
                    content 01 ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quam voluptatibus
                    similique possimus totam, ratione, inventore ab quasi aut deserunt nisi enim voluptas expedita
                    doloribus cumque amet ad soluta dignissimos!<br>
                    
                    content 01 ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quam voluptatibus
                    similique possimus totam, ratione, inventore ab quasi aut deserunt nisi enim voluptas expedita
                    doloribus cumque amet ad soluta dignissimos!<br>
                </div>
            </div>
        </div>

        <div class="tabs-item">
            <div class="item-nav closed">
                nav 02
            </div>
            <div class="item-ctn">
                <div class="ctn-wrapper">
                    content 01 ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quam voluptatibus
                    similique
                    possimus totam, ratione, inventore ab quasi aut deserunt nisi enim voluptas expedita doloribus cumque
                    amet ad soluta
                    dignissimos!
                </div>
            </div>
        </div>

        <div class="tabs-item">
            <div class="item-nav closed">
                nav 03
            </div>
            <div class="item-ctn">
               <div class="ctn-wrapper">
                    content 01 ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quam voluptatibus
                    similique
                    possimus totam, ratione, inventore ab quasi aut deserunt nisi enim voluptas expedita doloribus cumque
                    amet ad soluta
                    dignissimos!
               </div>
            </div>
        </div>
    </div>
</div>