<header class="header">
  <div class="container">
   HEADER BLOC ///


    <nav class="menu">
      <a href="./index.html">Home</a>
      <a href="./drafts.html">drafts</a>
      <a href="./test-js.html">test-js</a>
      <a href="./api-rest.html">api-rest</a>
      <a href="005">005</a>
    </nav>
  </div>
</header>