**/public/*
**/_public/*
**/dist/*
**/node_modules/*
kit-starters/v201906/design-ui/UI-guide.png
kit-starters/v201906/design-ui/ui_style_guide.png

## c 'est un repo test de l'appli vue js todo 
**/vue_crash_todolist-master/*
**/vue_crash_todolist-master.zip
