.header {
    min-height: 90px;
    background-color: white;
    border: 1px solid $color-gray-lighter;
    padding: $gutter-base;
    display: block;
    @include Y-center;

    .container-fluid {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .logo {
        margin-right: $gutter-base;
    }

    h1 {
        font-family: "OpenSans-ExtraBold";
    }
}

.main-menu {}


.search-bar {}

//-----  MEDIA QUERY / RESPONSIVE ----
@media #{$bp-min-sm} {}

@media #{$bp-min-md} {}

@media #{$bp-min-lg} {
    .header {
        .logo {}
    }
}

@media #{$bp-min-xl} {}