<header class="header">
    <div class="container">
        <div class="header_logo">

        </div>
        <nav class="header_menu">
            <a href="#"> home </a>
            <a href="#"> services </a>
            <a href="#">contact</a>
            <a href="#"> actu</a>
        </nav>

        <div class="header_search">
            search
        </div>
    </div>
</header>
