.sub-nav-content {
    padding: 2rem 1rem;

    .nsc-tab {
        font-size: .7rem;
        cursor: pointer;

        li.active span {
            padding-bottom: 1rem;
            color: $color-blue-meduim;
            border-bottom: 4px solid $color-blue-meduim;
            text-align: center;
        }

        li {
            white-space: nowrap;
            text-align: center;
            color: $color-gray-meduim;
        }
    }

    .nsc-search {
        position: relative;
        border-radius: 3rem;
        border: 1px solid $color-gray-light-3;
        padding-left: 3rem;
        margin-top: -0.5rem;
        width: 100%;

        // &-full{}

        input {
            border: none;
            width: 90%;
            border-radius: 3rem;
            margin: auto;
            color: $color-gray-meduim;
            font-size: 0.8rem;
            height: 2.4rem;
        }

        i.ico-search {
            position: absolute;
            left: 1rem;
            top: .5rem;
            color: $color-gray-meduim;
        }

        i.ico-cross {
            position: absolute;
            right: 3rem;
            top: 0.3rem;
            font-size: 1.3rem;
            cursor: pointer;
        }

        i.ico-up {
            position: absolute;
            right: 1rem;
            top: 0.1rem;
            color: $color-gray-meduim;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    .btn-add {
        display: block;
        margin: 0 1rem;
        padding-top: .5rem;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        background-color: $color-blue-dark;
        border-radius: 3rem;
        cursor: pointer;
        margin-top: -0.4rem;

        &:before {
            content: $ico-add;
            font-family: Icomoon;
            color: $color-white;
        }

    }

    .btn-download {
        display: block;
        width: 2rem;
        height: 2rem;
        color: $color-blue-dark;
        text-align: center;
        border-radius: 3rem;
        font-size: 1.6rem;
        cursor: pointer;
        margin-top: -0.4rem;

        &:before {
            content: $ico-download;
            font-family: Icomoon;
        }
    }
}