.layout {
    main.main {
        padding-bottom: $gutter-half;
        padding-top: $header-height;

        .sidebar {
            width: $sidebarWidth;
            margin-right: $sidebarMargR;
        }

        .main-content {
            width: calc(100% - (#{$sidebarWidth} + #{$sidebarMargR}));
            margin-left: calc(#{$sidebarWidth} + #{$sidebarMargR});
        }

        // modifier : main.main.main--full-one-col  >> hide side barre, end make main content on full width .... 
        &--full-one-col {
            .sidebar {
                transform: translateX(-100%);
            }

            .main-content {
                width: 100%;
                margin-left: $sidebarMargR;
            }

            .tabulator-table-container {
                width: 100%;
            }
        }
    }
}

//-----  MEDIA QUERY / RESPONSIVE ----/ 
@media #{$bp-max-sm} {}