@import "compass";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/font-awesome/css/font-awesome.min.css";
@import "../../bower_components/Yamm3/yamm/yamm.css"; // mega menu ...
@import "global";

/*---------------------- layoutage globale------------------------*/
#wrapper {
  min-height: 600px;
  background-color: #fff;
  margin: 0 auto;
  padding: $Gotiere;
}

.trow {
  background-color: lighten($Color2, 62%);
  border: solid 1px $ColorBorder;
  padding: $Gotiere;
  margin: $Gotiere 0;
  @include BordRadius();
}

/*---------------------- page/bloc spécifique -----------------------*/

.box1 {
  padding: $Gotiere;
  background-color: $Color1;
}

.box2 {
  padding: $Gotiere;
  background-color: $Color2;
}

.box3 {
  padding: $Gotiere;
  background-color: $Color3;
}

/*------------ #trow3 : --------------*/

#trow3 {
  .bloc_bootsrapale {
    @include BordRadius(3px);
    @include bloc_RespoBstp();
  }
}

/*------------- #trow4 :LESS ----------*/
/*tr4.1 : imbrication*/
@mixin tr4_mix_trc-i() {
  //
  border: solid 1px #003333;
  width: 50%;
  background-color: lighten($Color2, 50%);
  padding: 10px;
  h4 {
    color: #000
  }
  p {
    color: $Color2;
  }
  @include make-lg-column($grid-columns/2)
}

#trow4 {
  #trc-1 {
    @include tr4_mix_trc-i();
  }
}

#trow5 {
  @extend .clearfix;
  .box {
    @include border-radius(5px);
    &:before {
      content: "Mobile";
      color: #ffff00;
    }

    @include make-sm-column($grid-columns/2);
    @include make-md-column($grid-columns/3);
    @include make-lg-column($grid-columns/4);

    @media (min-width: $screen-sm-min) {
      &:before {
        content: "tablette portrait";
        color: #ffff00;
      }
    }

    @media (min-width: $screen-md-min) {
      &:before {
        content: "desktop min";
        color: #00CC00;
      }
    }

    @media (min-width: $screen-lg-min) {
      &:before {
        content: "desktop big";
        color: #006600;
      }
    }

  }

}

/*@import "spico*//*.png";
@include all-spico-sprites;

#trow6 {
  .panel-icon {
    a {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
    .face {
      @include spico-sprite(linkedin-icon);
    }
  }
}*/

#trow7 {
  //  test des pb height en 100 %
  height: 300px;
  .tr-ctn {
    background-color: #ffff00;
    height: calc(100% - 35px);
  }
  .tr-n1 {
    padding: 10px;
    background-color: #ccc;
    height: 90%;
    .tr-n1-1 {
      padding: 10px;
      background-color: $Color2;
      .tr-n1-1-1 {
        padding: 10px;
        background-color: $Color3;
      }
    }
  }
}

#trow8 {
  .box {
    width: 100px;
    height: 100px;
    // vertical-align: middle;
    // display: flex;
    display: inline-block;
    position: relative;
    // centrage begin
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    // centrage end

    > * {
    }

    .puce {
      display: inline-block;
      height: 10px;
      width: 10px;
      background: #fff;

    }

    span {
      display: inline-block;
      background-color: #00CC00;
    }
  }
}

// #trow8

/* bloc produit */
.pdt-box {
  @include make-sm-column($grid-columns/3.15);
  @include make-lg-column($grid-columns/4.15);
  padding: 0;
  border: 1px solid #ccc;
  margin: 0px 5px 15px;
  .pdt-img {
    overflow: hidden;
    background-color: #7c7c7c;
    height: 50vw; //calc(100vw / 2.5);
    position: relative;
    @media (min-width: $screen-sm-min) {
      height: 200px;
    }

    img {
      width: 100%;
      transition: all .3s ease-out;
    }

    &:before {
      content: " ";
      position: absolute;
      display: inline-block;
      background-color: rgba(255,255,255, 0.7);
      width: 100%;
      height: 100%;
      transition:  background-color 1s;
    }

    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.25);
      }
      &:before {
        background-color: rgba(255,255,255, 0);
      }
    }
  }

  .pdt-ctn {
    padding: 15px;
  }

}

#trow9 { // flex layout test

}

/* #trow10 : les menu bootstrap multi-level   */

#trow10 {
  .bt-menu {
    @extend  .nav;
    @extend  .nav-pills;
  }
}


/* effet apparaission */
#trow11 {
  .box-pdt {

    height: 300px;
    background-color: #ccc;
    overflow: hidden;
    @include make-sm-column($grid-columns/2);
    @include make-md-column($grid-columns/3);
    @include make-lg-column($grid-columns/4);

    &:hover {
      .bp-panel {
        margin-top: -50px;
      }
    }

    .bp-img {
     background-color: #ccc;
      height: 300px;
   }

    .bp-panel {
      transition: margin-top  0.5s;
      margin-top: 0;
      display: block;
      background-color: #fff;
      @extend .clearfix;
       a{
         display: inline-block;
         height: 50px;
         line-height: 50px;
         text-align: center;
         vertical-align: middle;
         @include make-xs-column($grid-columns/3);
       }
    }
  }
  @extend .clearfix;
}
