<header class="header">
  <div class="mini-header">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="btn-go"> GO v1 </div>
          </div>
          <div class="col-6 col-md-3">
            <nav class="mini-menu">
              <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i><span>01</span> </a>
              <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i><span>02</span> </a>
              <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i><span>03</span> </a>
            </nav>
          </div>
        </div>
    </div>
  </div>
  <div class="big-header">
    <div class="container">
      <nav>
        <a href="#">menu 01</a>
        <a href="#">menu 02</a>
        <a href="#">menu 03</a>
        <a href="#">menu 04</a>
      </nav>
    </div>
  </div>
</header>