<header class="header">
  <div class="mini-header">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="btn-go"> GO v1 </div>
          </div>
          <div class="col-6 col-md-3">
            <nav class="mini-menu">
              <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
            </nav>
          </div>
        </div>
    </div>
  </div>
  <div class="big-header">
    <div class="container">
      <div class="row">
          <div class="col box min-sm">test 01</div>
          <div class="col-9 box min-md">test 01</div>
      </div>
    </div>
  </div>
</header>