<!DOCTYPE html>

<head>
  {{> head}}
  <title> Drafts </title>
</head>

<body>
  <div class="page page-drafts">

    <!-- Header : begin -->
   {{> header}}
    <!-- Header : end  -->
    <!--middle : begin  --> 
    <div class="middle"> 
      <div class="container"> 
        <section class="test">
          <h3> slick carousel </h3>
          <div class="row">
            <div class="col-sm-3">
              <div class="slide-test">
                <div class="box min-sm"></div>
                <div class="box min-md"></div>
                <div class="box min-lg"></div>
              </div>
            </div>
          </div>
        </section>
        <section class="test-2">
          <h3> compostant/ controleur incremental fields </h3>
          <p> </p>
          {{> cptIncrementField}}
        </section>
         <section class="test-3">
           <h3> test cpt calendar ...  </h3>
           <div class="test-inner">
              <input type="text" class="calendar">
           </div>
         </section>
        <section class="test-4">
          <h3>flex box , dispo bottom</h3>
          <div class="test-inner">
            <div class="boxs b1">b-1</div>
            <div class="boxs b2">b-2</div>
            <div class="boxs b3">b-3</div>

          </div>
        </section>
         <!-- section.test-$>h3{title}+.test-inner -->
      </div>
    </div>
    <!--middle : end  -->
   {{> footer}} 
  </div>
  {{> foot}} 

</body>
</html>