<footer>
	<!-- Contenu du footer -->
	<div class="footer-content">
		<div class="container">
			<p class="text-center">Copyright @ 2016 Ruisso. All Rights Reserved<span class="hidden-xs">/</span><a href="#">Mention légales</a><span class="hidden-xs">/</span><a href="#">Plan du site</a><span class="hidden-xs">/</span><a href="#">Contact</a>
			</p>
		</div>
	</div>
</footer>