    /* _variables partial : begin */
    
    //color 
    $color-primary: orange;
    $color-secondary: blue;
    $color-gray-light: #eee;
    //
    $w-box: 150px;
    $h-box : $w-box/2; 
    /* _variables partial : end  */