<!DOCTYPE html>
<head>
    {{> head}}
</head>
<body>

<div class="page">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </header>
    <div class="middle-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <section class="main-content">
                        main content
                    </section>
                </div>
                <div class="col-md-4">
                    <aside class="lateral-content">
                        latteral content
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
    {{> foot}}

</div>

</body>
</html>