<!DOCTYPE html>
<head>
    {{> head}}
</head>
<body>

<div class="page">
    <header>
        {{> header}}
    </header>
    <div class="middle-content">
        <div class="container">
            <div class="row">
                <div class="col-main-content">
                    <section class="main-content">
                        main content

                    </section>
                </div>
                <div class="col-lateral-content">
                    {{> footer}}
                </div>
            </div>
        </div>
    </div>
    <footer>
        {{> footer}}
    </footer>
    {{> foot}}

</div>

</body>
</html>