footer {
	margin-top: -80px;
	font-size: 14px;
	color: $blanc;

	@media (min-width: 768px) {
		margin-top: -45px;
	}

	span {
		padding: 0 20px;
	}

	a {
		color: $blanc;

		@media (max-width: 767px) {
			display: block;
		}

		&:hover {
			color: $blanc;
		}
	}
}