{# layout.twig #}
{# import "includes/_globals.twig" as global #}
{# not working as php !!! #}
{% import "../0-config/_macros.twig" as macros %}
{% import "../3-organisms/_header.twig" as header %}


<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <meta content="ie=edge" http-equiv="X-UA-Compatible"/>

        <title>
            {% block pageTitle %}
                {% set title ="by default title page" %}
                {{macros.titleSEO(title)}}
                -
                {{ siteName}}

            {% endblock %}
        </title>


        <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>

        <!-- CSS File -->
        <link href="style.css?cb=1560431403150YnS" rel="stylesheet"/>
    </head>

    <body>
        {{ header.dispaly("cccc") }}
        <br/>
        pathbase :
        {{ app.request.basepath }}
        <main class="main"> {% block page %}{% endblock %}
            </main>
            {% include "../3-organisms/_footer.twig" %}
            <!-- JavaScript File-->
            <script src="all.js?cb=1560431403150YnS"></script>
        </body>
    </html>
