/* ----------------------------------------------------- */
/* Styles de la navigation principal 
/* ----------------------------------------------------- */

header {
    position: fixed !important;
    z-index: 1000;
    background-color: $color-gray-light-5;
    border-bottom: 1px solid $color-gray-light-1;
    width: 100%;
    @include padding(null $gutter-half);

    .nav-link {
        color: $color-gray-meduim;
        font-size: .8rem;
        text-transform: uppercase;
    }

    .second-navbar {
        padding-bottom: 0;

        div:first-child {
            padding-left: 0;
        }

        li.active {
            border-bottom: 4px solid $color-blue-meduim;

            a {
                color: $color-blue-meduim;
            }
        }
    }

    .concerned-company {
        position: relative;
        padding-left: 4rem;

        &:after {
            content: " ";
            position: absolute;
            top: .1rem;
            left: 3rem;
            height: 2.3rem;
            width: 0.2rem;
            border-right: 1px solid $color-gray-light;
        }

        .concerned-company-img {
            height: 2.5rem;
            width: 2.5rem;
            background: $color-red-medium;
            position: absolute;
            left: 0;
            border-radius: .5rem;
        }

        a {
            color: $color-blue-dark;
            font-size: 1.3rem;
        }

        .dropdown-menu {
            top: -3rem !important;
            left: -1rem !important;
            width: 20rem;
        }

        span {
            font-size: .7rem;
        }
    }

    .dropdown-menu {
        border: none;
        box-shadow: 1px 1px 15px $color-gray-light-4;

        a {
            font-size: 1rem;
            color: $color-gray-light-2;

            &:first-child {
                color: $color-blue-dark !important;
            }

            &:focus {
                color: $color-blue-dark !important;
                background-color: transparent !important;
            }

            .actual {
                color: $color-blue-dark;
            }
        }

        .dropdown-item {
            color: $color-gray-meduim;
        }

        .btn {
            border-radius: 5rem;
            padding: 0rem 1rem;
            background-color: $color-blue-meduim;
            text-transform: uppercase;
            font-size: .8rem;

            &-light {
                color: $color-blue-meduim;
                background-color: transparent;
                border: none;

                &:hover {
                    border: none;
                }
            }
        }

        .btn-company {
            width: 80%;
            display: block;
            margin: auto;
            padding: .5rem 1rem;
        }
    }

    .dropdown-user .dropdown-menu {
        a {
            color: $color-blue-dark !important;
        }
    }
}