<div class="container">
    <div class="row">
        <div class="col-logo">
            <div class="logo">
                logo
            </div>
        </div>
        <div class="col-menu">
            <nav></nav>
        </div>
    </div>
</div>