<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
    <div class="page page-parallalax">
        <header>
            {{> header}}
        </header>
        <div class="middle-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="main-content">
                           <div id="slider1" class="slideP">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum beatae dolorem, velit quibusdam eius mollitia vero laboriosam explicabo. Nulla ex enim aliquam unde distinctio, odio eum magni atque quae temporibus.
                           </div>
                           <div id="slider2" class="slideP">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam velit facilis eaque et, eius, eos id eligendi cupiditate accusantium, ex corporis tenetur ipsa libero quos officia aliquid. Facere, sapiente, iste.
                           </div>
                           <div id="slider3" class="slideP">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae voluptatum itaque, natus necessitatibus? Et beatae, aspernatur ducimus incidunt quod, velit facilis doloremque qui harum iusto autem iste consequatur aliquid nobis.
                           </div>
                            <!-- git-test-commit 20170419-->
                            <script>


                            </script>
                        </section>


                    </div>

                </div>
            </div>
        </div>
        <footer>
            {{> footer}}
        </footer>
        {{> foot}}
    </div>
</body>
</html>
