<!DOCTYPE html>
<head>
    {{> head}}
</head>
<body>

<div class="page page-parallalax">
    <header>
        {{> header}}
    </header>
    <div class="middle-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <section class="main-content">
                       page parallalax 121212
                        <!-- git-test-commit 20170419-->
                    </section>
                </div>
                <div class="col-sm-8">
                    {{> lateralContent}} <!-- lateralContent  -->
                </div>
            </div>
        </div>
    </div>
    <footer>
        {{> footer}}
    </footer>
    {{> foot}}

</div>

</body>
</html>
