<footer class="hidden-xs">
    <div class="top">
        <div class="container">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Pourquoi Oui Business</a></li>
                <li><a href="#">Mode d'emploi</a></li>
                <li><a href="#">Afficher les hôtels</a></li>
                <li><a href="#">Afficher les salles de réunion</a></li>
                <li><a href="#">Afficher les salles de travail</a></li>
                <li><a href="#">CGV</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Nous contacter</a></li>
            </ul>
        </div>
    </div>
	<div class="container">
        <div class="row sitemap">
            <div class="col-sm-6 col-md-3">
                <h4>Lorem ipsum dolor</h4>
                <ul>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel auctor</a></li>
                    <li><a href="#">Proin gravida nibhv velit auctor</a></li>
                    <li><a href="#">Proin velit</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit</a></li>
                    <li><a href="#">Proin gravida vel velit</a></li>
                    <li><a href="#">Proin gravida vel auctor</a></li>
                    <li><a href="#">Proin nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida</a></li>
                    <li><a href="#">Proin vel velit auctor</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Lorem ipsum dolor</h4>
                <ul>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                </ul>
                <h4>Lorem ipsum dolor</h4>
                <ul>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Lorem ipsum dolor</h4>
                <ul>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                    <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
            <h4>Lorem ipsum dolor</h4>
            <ul>
                <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
                <li><a href="#">Proin gravida nibhv vel velit auctor</a></li>
            </ul>
        </div>
        </div>
        <div class="bottom">
            <div class="links">
                <a href="#" class="facebook"></a>
                <a href="#" class="instagram"></a>
                <a href="#" class="twitter"></a>
            </div>
            <div class="logo">
                <a href="#">
                    <img src="images/logo-footer.png" />
                </a>
            </div>
        </div>
	</div>
</footer>