<header>
	<!-- Contenu du header -->
	<div class="container-fluid">
		<nav class="navbar navbar-custom">
			<div class="navbar-header">
				<div class="logo-container">
		    		<a class="navbar-logo" href="index.html">
		    			<div>
		    				<img src="images/logo.png" alt="Logo OuiBusiness" title="Retour à l'accueil">
		    			</div>
		    			<h1>OuiBusiness.</h1>
		    		</a>
				</div>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="navbar-collapse">
				<ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
						<a href="#" class="pourquoi-oui-business">Pourquoi Oui Business ?</a>
					</li>
                    <li>
						<a href="#" class="mode-emploi">Mode d'emploi</a>
					</li>
					<li>
						<a href="inscription.html" class="inscription">S'inscrire</a>
					</li>
					<li>
						<a href="#" class="boutique"><span>3</span></a>
					</li>
					<li class="dropdown">
				        <a href="#" class="dropdown-toggle mon-compte" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bonjour Claude</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mes réservations</a></li>
                            <li><a href="#" class="lvl2">Mes factures</a></li>
                            <li><a href="#">Mes listes</a></li>
                            <li><a href="profil.html">Mon profil</a></li>
                            <li><a href="#">Se déconnecter</a></li>
                        </ul>
					</li>
					<li>
						<a href="connexion.html" class="connexion">Se connecter</a>
					</li>
					<li>
						<a href="messagerie.html" class="messagerie"></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle langue fr" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="langue fr"></a></li>
                            <li><a href="#" class="langue en"></a></li>
                        </ul>
					</li>
					<li>
						<a href="#" class="affichez-etablissement">Affichez votre établissement</a>
					</li>
				</ul>
                <div class="hidden-sm hidden-md hidden-lg">
                    <button type="button" class="navbar-toggle collapsed btnMenu" data-toggle="collapse" data-target="#" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
		    </div><!-- /.navbar-collapse -->
		</nav>
	</div>
</header>