                           <div class="row">
                               <div class="col-sm-6">
                                   <div class="ph-left ph-col">
                                        <span class="oui">oui </span> 
                                       <p>   à une <br> remise<br>  permanente ?</p> 
                                   </div>
                               </div>
                               
                                <div class="col-sm-5 col-sm-offset-1">
                                    <div class="ph-left ph-col">
                                        <span class="oui">oui</span>
                                        <p> à une<br>  gestion <br> simple et <br> efficace ? </p>
                                    </div>
                                </div>
                           </div>
                           <div class="ph-ctn-btn">
                              <a href="#" class="btn-offres">Voir toutes les offres</a>
                           </div>