<div class="menu-mobile hidden-sm hidden-md hidden-lg">
	<div class="col-xs-10 col-xs-offset-2">
        <div class="wrapper">
            <nav class="menu-content">
                <ul>
                    <li>
						<a href="#" class="pourquoi-oui-business">Pourquoi Oui Business ?</a>
					</li>
                    <li>
						<a href="#" class="mode-emploi">Mode d'emploi</a>
					</li>
					<li>
						<a href="inscription.html" class="inscription">S'inscrire</a>
					</li>
					<li>
						<a href="#" class="boutique"><span>3</span>Mon panier</a>
					</li>
					<li>
				        <a href="#" class="mon-compte">Bonjour Claude</a>
					</li>
					<li>
						<a href="connexion.html" class="connexion">Se connecter</a>
					</li>
					<li>
						<a href="messagerie.html" class="messagerie">Contact</a>
					</li>
					<li>
						<a href="#" class="langue fr">Français</a>
					</li>
					<li>
						<a href="#" class="affichez-etablissement">Affichez votre établissement</a>
					</li>
                </ul>
            </nav>
        </div>
    </div>
</div>