<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content aide">
        <div class="container">
            <h2>Oui, we are here to help you !</h2>
            <div class="options">
                <a class="option hotline">
                    <span>I am a customer and wish to contact your customer service</span>
                </a>
                <a class="option partenariat">
                    <span>I am a partner and wish to contact your partner service</span>
                </a>
                <a class="option alerte">
                    <span>I would like to hear Oui Business news</span>
                </a>
            </div>
        </div>
        <div class="contacter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="texte">
                        <p>To contact our customer service : <br><strong>+33 (0)1 43 41 69 19</strong></p>
                        <p>To contact our partner service : <br><strong>+33 (0)1 43 41 69 19</strong></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="image">
                        <img src="images/img-aide.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="accroche">
            <p><strong>Oui Business. Oui</strong> to efficiency, <strong>Oui</strong> to simplicity, <strong>Oui</strong> to quality!</p>
            <div class="image">
                <img src="images/icones-rs.png">
            </div>
        </div>
	</div>
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>