<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content aide">
        <div class="container">
            <h2>Oui, nous sommes là pour vous aider !</h2>
            <div class="options">
                <a class="option hotline">
                    <span>Je suis client et je souhaite contacter le service clients</span>
                </a>
                <a class="option partenariat">
                    <span>Je suis partenaire et je souhaite contacter le service partenaires</span>
                </a>
                <a class="option alerte">
                    <span>Je souhaite être informé de l'actualité de Oui Business</span>
                </a>
            </div>
        </div>
        <div class="contacter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="texte">
                        <p>Pour contacter notre service clients : <br><strong>+33 (0)1 43 41 69 19</strong></p>
                        <p>Pour contacter notre service partenaires : <br><strong>+33 (0)1 43 41 69 19</strong></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="image">
                        <img src="images/img-aide.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="accroche">
            <p><strong>Oui Business. Oui</strong> à l'efficacité, <strong>Oui</strong> à la simplicité, <strong>Oui</strong> à la qualité !</p>
            <div class="image">
                <img src="images/icones-rs.png">
            </div>
        </div>
	</div>
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>