<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="colonne-principale-2 mon-profil concept"> <!-- colonne-principale-2 mon-profil -->
                    <h2> Oui Business, le concept ! </h2>
                    <p> <strong> Oui </strong> à l’efficacité, <strong> Oui </strong> à la simplicité, <strong> Oui </strong> à la qualité… </p>
                    
                    
                        <div class="etapes">
                            <div class="numeros">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 num-box">
                                        <span>1</span>
                                        <p>  <strong> Inscrivez-vous</strong><br>  <strong>ou connectez-vous </strong> et bénéficiez  de votre remise de 10% sur les tarifs affichés </p>
                                    </div>
                                    <div class="col-md-3 col-sm-6 num-box">
                                        <span>2</span>
                                        <p> <strong> Sélectionnez un hôtel,</strong> une salle de réunion, un espace de working <strong>et ajoutez au panier</strong> </p>
                                    </div>
                                    <div class="col-md-3 col-sm-6 num-box">
                                        <span>3</span>
                                        <p> <strong> Validez votre panier et réservez </strong> </p>
                                    </div>
                                   <div class="col-md-3 col-sm-6 num-box">
                                        <span>4</span>
                                       <p> ...Il n'y a pas de 4 ! <br> <strong> Oui c'est déjà fini !</strong> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pr-btn-action">
                                <div class="col-md-3 col-sm-6 col-md-offset-3 marginb30">
                                        <button class="btn-2 btn-valider"> Inscrivez-vous  </button>
                                </div>
                                 <div class="col-md-3 col-sm-6">
                                        <button class="btn-2 btn-valider"> Lancez la recherche </button>
                                 </div>
                         </div>
 
                 </div>
            </div>
        </div> 
	</div>
        
	        <div class="ctn-larg-concept">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2> La solution pour votre entreprise  </h2>
                        
                        <div class="row entreprise-solution">
                            <!-- col-md-3 col-sm-6     <img src="images/dev-business.png" class="prnb-img" alt=""> -->
                            <div class="col-md-3 col-sm-6 es-box">
                                <img src="images/solution-ets-ico1.png" alt="">
                                <p class="esb-title"> Oui Business,une plateforme multiservices </p>

                                  <ul class="esb-txt">
                                                                               <li> ► Gagnez du temps et réservez, en une 
opération, hébergement, espace de 
coworking et salle de réunion </li>
                                    </ul>

                            </div>
                            
                            
                           <div class="col-md-3 col-sm-6 es-box">
                                <img src="images/solution-ets-ico2.png" alt="">
                                <p class="esb-title"> Oui Business, des économies sur vos budgets voyages  </p>

                                    <ul class="esb-txt">
                                        <li> 
► Bénéficiez en plus de 10% de remise dès l’ouverture de votre compte </li>
                                    </ul>
                            </div>
                            
                            
                             <div class="col-md-3 col-sm-6 es-box">
                                <img src="images/solution-ets-ico3.png" alt="">
                                <p class="esb-title"> Oui Business, des procédures administratives simplifiées  </p>
                                    
                                     <ul class="esb-txt">
                                        <li> ► Profitez d’une facture centralisée 
intégrant y compris les taxes de séjour </li>
                                   
                                   <li> 
► Recevez un reporting détaillé de vos déplacements professionnels  </li>
                                   
                                   <li> ► Bénéficiez du paiement sans CB  </li>
                                    </ul>
                            </div>
                            
                              <div class="col-md-3 col-sm-6 es-box">
                                <img src="images/solution-ets-ico4.png" alt="">
                                <p class="esb-title"> Oui Business, des services de qualité </p>
                                     <ul class="esb-txt">
                                        <li> ► Bénéficiez de prestataires de qualité 
et sélectionnés pour les besoins des 
voyageurs d’affaires </li>
                                   
                                   <li> ► Bénéficiez d’une assistance téléphonique   </li>
                                   <li> 
► Echangez avec des interlocuteurs 
professionnels venant du monde de 
l’hôtellerie et du voyage d’affaires  </li>
                                    </ul>
                            </div>
                            
                            
                        </div>
                        
                        <div class="row pr-btn-action">
                                <div class="col-md-3 col-sm-6 col-md-offset-3 marginb30">
                                        <button class="btn-2 btn-valider"> Inscrivez-vous  </button>
                                </div>
                                 <div class="col-md-3 col-sm-6">
                                        <button class="btn-2 btn-valider"> Lancez la recherche  </button>
                                 </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="colonne-principale-2 mon-profil concept concept-part2"> <!-- colonne-principale-2 mon-profil -->
                        <div class="row solution-pour-vous">
                                <h2>  La solution pour vous  </h2>

                            <div class="col-md-3 col-sm-6 spv-box">
                                <img src="images/solution-pour-vous1.png" alt="">
                                <p class="spv-title">Oui Business, Oui votre temps est précieux</p>
                                <ul class="spv-txt">
                                    <li> <span class="puce"> ► </span>  Réservez en une opération hébergement, espace de coworking et salle de réunion sur notre plateforme multiservices. </li>
                                </ul>            
                            </div>
                            
                            
                           <div class="col-md-3 col-sm-6 spv-box">
                                <img src="images/solution-pour-vous2.png" alt="">
                                <p class="spv-title"> Oui Business, 
Oui, vous recherchez 
le meilleur rapport 
qualité/prix </p>
                                <ul class="spv-txt">
                                    <li><span class="puce"> ► </span>  Bénéficiez de prestataires de qualité et sélectionnés pour les besoins des 
voyageurs d’affaires</li>
                                </ul>            
                            </div>
                            
                            
                             <div class="col-md-3 col-sm-6 spv-box">
                                <img src="images/solution-pour-vous3.png" alt="">
                                <p class="spv-title"> Oui Business, 
Oui au principe 
gagnant/gagnant  </p>
                                <ul class="spv-txt">
                                    <li> <span class="puce"> ► </span>  Parrainez un voyageur d’affaires d’une autre société que la vôtre
 </li>
                                </ul>            
                             </div>
                             
                             <div class="col-md-3 col-sm-6 spv-box">
                                <img src="images/solution-pour-vous4.png" alt="">
                                <p class="spv-title"> Oui Business, 
Oui nous sommes là 
pour faciliter vos voyages d’affaires </p>
                                <ul class="spv-txt">
                                    <li> <span class="puce"> ► </span>   Dès avril 2017, utilisez l’application mobile, suivez l’actualité et bénéficiez de toutes les offres OuiBusiness </li>
                                </ul>            
                             </div>
                             
                             
                        </div>
                    
                    
                                            <div class="row pr-btn-action">
                                <div class="col-md-3 col-sm-6 col-md-offset-3 marginb30">
                                        <button class="btn-2 btn-valider"> Inscrivez-vous  </button>
                                </div>
                                 <div class="col-md-3 col-sm-6">
                                        <button class="btn-2 btn-valider"> Lancez la recherche  </button>
                                 </div>
                         </div>
                    
                    </div>
                </div> 
            </div>
        </div>	
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>