<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content">
        <div class="container">
            <div class="colonne-principale-2 mon-profil form-contact">
                <h2>Contact form</h2>
                <p>Thank you for filling the following form to be aware of Oui Business' news</p>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Family Name*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="First Name*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Email*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>* required informations</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="btn-container">
                                <button class="btn btn-valider">Follow us!</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
	</div>
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>