<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content">
        <div class="container">
            <div class="colonne-principale-2 mon-profil form-contact">
                <h2>Formulaire de contact</h2>
                <p>Merci de remplir le formulaire ci-dessous et nous vous recontacterons au plus vite.</p>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Nom*">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Prénom*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Société">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="Email*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Téléphone*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea placeholder="Commentaires"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>* informations obligatoires</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="btn-container">
                                <button class="btn btn-valider">Contactez-moi</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
	</div>
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>