<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="colonne-principale-2 mon-profil">
                        <h2>Mode d'emploi</h2>
                        <div class="etapes">
                            <div class="numeros">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>1</span>
                                    </div>
                                    <div class="hidden-xs hidden-sm col-md-4">
                                        <span>2</span>
                                    </div>
                                    <div class="hidden-xs hidden-sm col-md-4">
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Sélectionnez le type d'établisssement</h3>
                                    <ul>
                                        <li><span class="titre">Hôtel :</span> établissement étoilé sélectionné car adapté aux besoins professionnels, Wi-Fi, annulation tardive, qualité de la notation des clients ...</li>
                                        <li><span class="titre">Salle de réunion :</span> établissement sélectionné car adapté aux besoins professionnels, Wi-Fi, disponibilité en ligne, services ...</li>
                                        <li><span class="titre">Espace de travail :</span> lieu de travail disponible dans des établissements type salles de restaurants, salon de thé, salon d’hôtel, etc, offrant confort de travail, Wi-Fi, service de boissons</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <div class="numeros">
                                        <div class="row">
                                            <div class="hidden-md hidden-lg">
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Choisissez et lancez la recherche</h3>
                                    <ul>
                                        <li><span class="titre">Destination :</span> adresse précise ou nom de ville ou code postal ou station de métro</li>
                                        <li>Pour les chambres, choisir <strong>Date d’arrivée</strong>, date de départ. Pour les salles de réunion et espace de travail, choisir le jour d’utilisation.</li>
                                        <li>Choisir le <strong>Type de chambre</strong> pour un hôtel (twin = 2 lits séparés, double = un grand lit) ou la <strong>Capacité en nombre de personnes</strong> pour les salles de réunion</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <div class="numeros">
                                        <div class="row">
                                            <div class="hidden-md hidden-lg">
                                                <span>3</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Réservez l'établissement choisi</h3>
                                    <ul>
                                        <li>La disponibilité est indiquée en ligne y compris pour les salles de réunion. Votre réservation est validée en direct.</li>
                                        <li>Réglez par CB après vous être connecté, ou recevez une facture si vous avez signé un contrat avec paiement différé. </li>
                                        <li>Recevez par e-mail une confirmation que vous présenterez à l’accueil de l’établissement</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <div class="colonne-gauche">
                        <div class="formulaire">
                            <form>
                                <div class="form-control">
                                    <input type="text" class="" placeholder="Destination / Nom de l'établissement" />
                                </div>
                                <div class="form-control">
                                    <input type="date" class="" placeholder="Arrivée" />
                                </div>
                                <div class="form-control">
                                    <input type="date" class="" placeholder="Départ" />
                                </div>
                                <div class="form-control">
                                    <select class="selectpicker" title="Chambre d'hôtel">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <div class="form-control chambre-selection">
                                    <div class="colonne">
                                        <label class="single">Single</label>
                                        <div class="pad">
                                            <button>-</button>
                                            <span>1</span>
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="colonne">
                                        <label class="single">Twin</label>
                                        <div class="pad">
                                            <button>-</button>
                                            <span>0</span>
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="colonne">
                                        <label class="single">Double</label>
                                        <div class="pad">
                                            <button>-</button>
                                            <span>0</span>
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control btn-container">
                                    <button class="btn btn-primary btn-recherche">Rechercher</button>
                                </div>
                            </form>
                        </div>
                        <div class="contact-applis">
                            <div class="wrapper">
                                <h3>S'inscrire<button href="#" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Lorem ipsum" data-content="This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor.">?</button></h3>
                                <div class="form-control">
                                    <input type="email" class="email" placeholder="Votre email" />
                                    <input type="submit" class="valider" value="OK" />
                                </div>
                            </div>
                            <div class="wrapper no-border">
                                <h3>Contactez-nous !</h3>
                                <div class="ligne numero">
                                    01 23 45 67 89
                                    <div>Prix d'un appel local</div>
                                </div>
                                <div class="ligne ecrire">
                                    Nous écrire
                                </div>
                            </div>
                            <div class="wrapper hidden-sm hidden-md hidden-lg no-border">
                                <div class="photo-home">
                                    <img src="images/photo-home.jpg" alt="photo" />
                                    <div class="texte">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <a href="#" class="btn-offres">Voir toutes les offres</a>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <h3><div>Télécharger</div>notre application</h3>
                                <div class="application">
                                    <a href="#" class="appStore"></a>
                                    <a href="#" class="googleStore"></a>
                                </div>
                            </div>
                        </div>
                        <div class="dernieres-reservations hidden-xs">
                            <h3>Dernières réservations</h3>
                            <div class="liste-hotel">
                                <a href="hotel.html" class="hotel">
                                    <div class="photo">
                                        <img src="images/photo1.jpg" alt="Hôtel 1"/>
                                    </div>
                                    <p class="nom">Nom de l'hôtel****</p>
                                    <p class="lieu">Montparnasse<span class="note">8/10</span></p>
                                </a>
                                <a href="hotel.html" class="hotel">
                                    <div class="photo">
                                        <img src="images/photo2.jpg" alt="Hôtel 2"/>
                                    </div>
                                    <p class="nom">Nom de l'hôtel****</p>
                                    <p class="lieu">Montparnasse<span class="note">8/10</span></p>
                                </a>
                                <a href="hotel.html" class="hotel">
                                    <div class="photo">
                                        <img src="images/photo3.jpg" alt="Hôtel 3"/>
                                    </div>
                                    <p class="nom">Nom de l'hôtel****</p>
                                    <p class="lieu">Montparnasse<span class="note">8/10</span></p>
                                </a>
                            </div>
                            <p class="see-all">
                                <a href="#">Tout voir ></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nos-engagements hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/engagements.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
	</div>
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>