<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="colonne-principale-2 mon-profil pourquoi-rejoindre"> <!-- colonne-principale-2 mon-profil -->
                        <h2 class="marginb30"> Pourquoi rejoindre Oui Business ? </h2>
                        <div class="row marginb20 pr-nav">
                           
                            <div class="col-md-3 col-sm-6 prn-box">
                                <img src="images/dev-business.png" class="prnb-img" alt="">
                                <p class="prnb-title"> Développez <br />  votre clientèle affaires</p>
                                <p class="prnb-txt"> Des établissements de qualité sélectionnés pour les besoins des voyageurs d'affaires. </p>
                            </div>
                            
                            <div class="col-md-3 col-sm-6  prn-box">
                                <img src="images/join-us-free.png" class="prnb-img" alt="">
                                <p class="prnb-title"> Rejoignez-nous sans frais </p>
                                <p class="prnb-txt"> Une formule sans engagement. Des frais d’installation offerts. </p>
                            </div>
                            
                             <div class="col-md-3 col-sm-6  prn-box">
                                <img src="images/secure-pay.png" class="prnb-img" alt="">
                                <p class="prnb-title"> Sécurisez vos paiements </p>
                                <p class="prnb-txt"> Des réservations réglées par Oui Business par virement ou par carte virtuelle. </p>
                             </div>
                             
                             <div class="col-md-3 col-sm-6 prn-box">
                                <img src="images/hotline.png" class="prnb-img" alt="">
                                <p class="prnb-title"> Bénéficiez d'une assistance   </p>
                                <p class="prnb-txt"> Une assistance du lundi au vendredi 
de 9h à 18h en cas de besoin pour répondre à vos questions.</p>
                             </div>
                        </div>
                        
                        <div class="row pr-btn-action">
                                <div class="col-md-3 col-sm-6 col-md-offset-3 marginb30">
                                        <button class="btn-2 btn-valider"> Je télécharge la brochure </button>
                                </div>
                                 <div class="col-md-3 col-sm-6">
                                        <button class="btn-2 btn-valider"> Je me connecte à mon extranet </button>
                                 </div>
                         </div>
                        
                        <div class="how-join-ob">
                           <div class="hjob-ctn-gray">
                             <div class="hjob-cg-head">
                               <h2> Comment rejoindre Oui Business ? </h2>   
                               <p> Sélectionnez la(es) prestation(s) que vous proposez : </p> 
                             </div>
 
                            
                                <div class="hjob-options">
                                  <div class="row">
                                <div class="col-sm-4 hjob-opt acommodation">
                                    <span class="choix">
                                        <input type="checkbox" id="check_acommodation">
                                        <label for="check_acommodation">Air conditionné</label>
                                    </span>
                                   
                                   <span class="hjob-icone"> </span>
                                   <span class="hjob-txt"> hébergement </span>
                                   
                                </div>
                                <div class="col-sm-4 hjob-opt coworking">
                                    <span class="choix">
                                    <input type="checkbox" id="check_coworking">
                                    <label for="check_coworking"></label>
                                    </span>
                                                                                    
                                    <span class="hjob-icone"> </span>
                                    <span class="hjob-txt"> coworking </span>
                                </div>
                                <div class="col-sm-4 hjob-opt meeting-seminar-room ">
                                    <span class="choix">
                                        <input type="checkbox" id="check_meeting-seminar-room">
                                        <label for="check_meeting-seminar-room"></label>
                                    </span>
                                   
                                   <span class="hjob-icone"> </span>
                                   <span class="hjob-txt"> salle de réunion & séminaire </span>
                                </div>
                            </div>
                            </div>
                           </div> 
                            


                            
                            
                        <fieldset class="no-border">
                            <div class="form">
                                                           <!-- new form -->
                            <div class="row">
                               
                               <div class="col-sm-12 form-head">
                                   <h3> Remplissez le formulaire de demande en ligne ci-dessous.  </h3>
                                   <h4>                                       Nous étudierons votre demande et vous enverrons une réponse dans les meilleurs délais. </h4>
                                 <p>

Seuls les établissements offrant une connexion Wi-Fi peuvent être sélectionnés
                                 </p> 
                               </div>
                                <div class="col-sm-6">
                                    <!--
                                     <select class="selectpicker" title="Civilité*">
                                        <option>Mr</option>
                                        <option>Mme</option>
                                     </select>
                                    -->
                                     <select class="" title="Civilité*"> <!-- selectpicker -->
                                        <option>Mr</option>
                                        <option>Mme</option>
                                    </select>
                                    <input type="text" placeholder="Nom*" />
                                    <input type="text" placeholder="Prenom*" />
                                    <input type="text" placeholder="Téléphone*" />
                                    <input type="email" placeholder="Email*" />
                                    <textarea placeholder="Commentaires"></textarea>
                                    * Informations obligatoires
                                </div>
                                
                                <div class="col-sm-6">
                                   <input type="text" placeholder="Type d’établissement*" />
                                   <input type="text" placeholder="Société" />
                                    <input type="text" placeholder="Code Postal*" />
                                     <input type="text" placeholder="Ville*" />
                                     <select class="" title="Civilité*"> <!-- selectpicker -->
                                        <option>Pays*</option>
                                        <option>France</option>
                                        <option>Italie</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-lg-push-0 col-sm-push-8">
                                        <button class="btn-2"> Contactez-moi </button>
                                </div>
                            </div> 
                            </div>
                        </fieldset>
                            
                        </div>

                         
<!--                         
                        <div class="mode-contact marginb30">
                            <div class="row">                  
                                <div class="col-sm-5 mail">
                                    <p><strong>Par mail :</strong><br/>bonjour@oui-business.com</p>
                                </div>
                                <div class="col-sm-3 telephone">
                                    <p><strong>Par téléphone :</strong><br/>01 02 03 04 05</p>
                                </div>
                                <div class="col-sm-4 courrier">
                                    <p><strong>Par courrier :</strong><br/>10 Boulevard Diderot<br/>75012 Paris</p>
                                </div>
                            </div>
                        </div>-->
                        

                    </div>
                </div>
            </div>
        </div> <!-- .container-->

	</div>
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>