<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content">
        <div class="container">
            <div class="colonne-principale-2 mon-profil presse"> <!-- colonne-principale-2 mon-profil -->
                <h2 class="marginb30"> Espace presse </h2>
                <div class="row marginb20">
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <a href="#" class="vignette">
                            <img src="images/dev-business.png" class="ep-img" alt="">
                            <div class="ep-mask">
                                <p class="ep-txt"> Septembre 2017 </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- .container-->

	</div>
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>