<!DOCTYPE html>
<head>
	{{> head}}
</head>
<body>
	{{> header}}
	<div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="colonne-principale-2 mon-profil mes-reservations">
                        <h2 class="marginb30">Mes réservations pour autrui</h2>
                        <h3>Historique et détails des réservations effectuées par des collaborateurs de votre société n'ayant pas le statut de validateur.</h3>
                        <p class="marginb30">Vous trouverez ici les réservations effectuées par vos collaborateurs pour le compte de votre société. Ces réservations sont en attente de validation. Elles seront confirmées uniquement lorsqu'un « validateur » de votre société aura donné son accord.</p>
                        
                        <div class="mr-landing">
                            <div class="row marginb30">
                                <div class="col-sm-4 mr-col">
                                    <img src="images/picto-lampe.png" alt="">
                                </div>
                                <div class="col-sm-4 mr-col">
                                    <h4>Qu'est ce qu'un validateur ?</h4>
                                    <p>Le validateur est une personne habilitée à valider ou annuler les réservations effectuées par des collaborateurs non validateurs. Le validateur a été désigné par la société.</p>
                                </div>
                                <div class="col-sm-4 mr-col">
                                    <h4>Comment valider une réservation effectuée par autrui ?</h4>
                                    <p>Pour valider ou annuler une réservation effectuée par vos collaborateurs, il vous suffit de cliquer sur le détail de la réservation. En bas de la dîte réservation, vous aurez la possibilité de cliquer sur annuler ou valider.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><strong>Attention, les réservations pour vos colloborateurs ne sont prises en compte par l'établissement qu'une fois validée par la/les personne(s) habilitées à cet effet.</strong></p>
                                </div>
                                
                            </div>
                        </div>

                        <div class="filtres-autrui">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="sm-title">Voir ...</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-choix">
                                    <span class="choix">
                                        <input type="checkbox" id="check_valid">
                                        <label for="check_valid">seulement les réservations<br> validées</label>
                                    </span>
                                </div>
                                <div class="col-choix">
                                    <span class="choix">
                                        <input type="checkbox" id="check_cancel">
                                        <label for="check_cancel">seulement les réservations<br> annulées</label>
                                    </span>
                                </div>
                                <div class="col-choix">
                                    <span class="choix">
                                        <input type="checkbox" id="check_wait">
                                        <label for="check_wait">seulement les réservations<br> en attente de validation</label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="commande-reservation commande-autrui">
                          <h3>Réservations en attente de validation</h3>
                         <div class="cr-nav">
                             <div class="row">
                               <div class="col-sm-3 crn-col crn-ref">
                                  <span>  Réservation CG25W </span>
                              </div>
                              <div class="col-sm-5 crn-col crn-date">
                                  <span> Commande passée le lundi 06 mars 2017 </span>
                              </div>
                               <div class="col-sm-4 crn-col crn-detail">
                                  <a> Détails de la réservation </a>
                              </div>
                             </div>
                          </div>
                          <div class="liste-reservations-historique">
                            <div class="hotel">
                                <div class="row">
                                    <div class="col-sm-4">
                                       <div class="photo">
                                            <img src="images/photo4.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="description">
                                            <p class="nom"> Hôtel Privé Gare du Nord * </p>
                                            <p class="adresse"> 234 rue de Bercy, 75012 Paris </p>
                                            <span class="crn-picto crnp-lit"></span>
                                            <p class="prix"> 159€ </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 border-left">
                                        <p>Vendredi 30 octobre 2016<br/>Mardi 2 Novembre 2016</p>
                                        <div class="btn-container">
                                            <a href="#" class="btn btn-primary">Annuler</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>

                        <!-- commande : Réservation HJ49X > begin -->
                      <div class="commande-reservation">
                          <h3> Réservations récentes </h3>
                         <div class="cr-nav">
                             <div class="row">
                               <div class="col-sm-3 crn-col crn-ref">
                                  <span>  Réservation HJ49X </span>
                              </div>
                              <div class="col-sm-5 crn-col crn-date">
                                  <span> Commande passée le lundi 06 mars 2017 </span>
                              </div>
                               <div class="col-sm-4 crn-col crn-detail">
                                  <a> Détails de la réservation </a>
                              </div>
                             </div>
                          </div>

                          <div class="liste-reservations-historique">
                            <div class="hotel">
                                <div class="row">
                                    <div class="col-sm-4">
                                       <div class="photo">
                                            <img src="images/photo4.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="description">
                                            <p class="nom"> Hôtel Elysées Gare de Lyon *** </p>
                                            <p class="adresse"> 234 rue de Bercy, 75012 Paris </p>
                                            <span class="crn-picto crnp-lit"></span>
                                            <p class="prix"> 159€ </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 border-left">
                                        <p>Vendredi 30 octobre 2016<br/>Mardi 2 Novembre 2016</p>
                                        <div class="btn-container">
                                            <a href="#" class="btn btn-primary">Annuler</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel">
                                <div class="row">
                                    <div class="col-sm-4">
                                       <div class="photo">
                                            <img src="images/photo4.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="description">
                                            <p class="nom"> Salle de réunion Roosevelt </p>
                                            <p class="adresse">234 rue de Bercy, 75012 Paris</p>
                                            <span class="crn-picto crnp-meeting"></span>
                                            <p class="prix">125€</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 border-left">
                                        <p>Vendredi 30 octobre 2016<br/>Mardi 2 Novembre 2016</p>
                                        <div class="btn-container">
                                            <a href="#" class="btn btn-primary">Annuler</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel desactiver">
                                <div class="row">
                                    <div class="col-sm-4">
                                       <div class="photo">
                                            <img src="images/photo4.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="description">
                                            <p class="nom">Hôtel Elysées Gare de Lyon ***</p>
                                            <p class="adresse">234 rue de Bercy, 75012 Paris</p>
                                            <span class="crn-picto crnp-lit"></span>
                                            <p class="prix">59€</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 border-left">
                                        <p>Vendredi 30 octobre 2016<br/>Mardi 2 Novembre 2016</p>
                                        <div class="btn-container">
                                            <a href="#" class="btn btn-primary">Anuuler</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                       <!-- commande : Réservation HJ49X > end -->
                       
                       <!-- commande : Réservation HJ49X > begin -->
                      <div class="commande-reservation">
                         <div class="cr-nav">
                             <div class="row">
                               <div class="col-sm-3 crn-col crn-ref">
                                  <span>  Réservation GV23T </span>
                              </div>
                              <div class="col-sm-5 crn-col crn-date">
                                  <span> Commande passée le lundi 06 mars 2017 </span>
                              </div>
                               <div class="col-sm-4 crn-col crn-detail">
                                  <a> Détails de la réservation </a>
                              </div>
                             </div>
                          </div>

                          <div class="liste-reservations-historique">
                            <div class="hotel">
                                <div class="row">
                                    <div class="col-sm-4">
                                       <div class="photo">
                                            <img src="images/photo4.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="description">
                                            <p class="nom"> Salle de réunion Roosevelt </p>
                                            <p class="adresse">234 rue de Bercy, 75012 Paris</p>
                                            <span class="crn-picto crnp-seminar"></span>
                                            <p class="prix">125€</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 border-left">
                                        <p>Vendredi 30 octobre 2016<br/>Mardi 2 Novembre 2016</p>
                                        <div class="btn-container">
                                            <a href="#" class="btn btn-primary">Annuler</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hotel desactiver">
                                <div class="row">
                                    <div class="col-sm-4">
                                       <div class="photo">
                                            <img src="images/photo4.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="description">
                                            <p class="nom">Hôtel Elysées Gare de Lyon ***</p>
                                            <p class="adresse">234 rue de Bercy, 75012 Paris</p>
                                            <span class="crn-picto crnp-lit"></span>
                                            <p class="prix">59€</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 border-left">
                                        <p>Vendredi 30 octobre 2016<br/>Mardi 2 Novembre 2016</p>
                                        <div class="btn-container">
                                            <a href="#" class="btn btn-primary">Anuuler</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                       <!-- commande : Réservation HJ49X > end -->
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <div class="colonne-gauche">
                        <div class="formulaire">
                            <form>
                                <div class="form-control">
                                    <input type="text" class="" placeholder="Destination / Nom de l'établissement" />
                                </div>
                                <div class="form-control">
                                    <input type="date" class="" placeholder="Arrivée" />
                                </div>
                                <div class="form-control">
                                    <input type="date" class="" placeholder="Départ" />
                                </div>
                                <div class="form-control">
                                    <select class="selectpicker" title="Chambre d'hôtel">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <div class="form-control chambre-selection">
                                    <div class="colonne">
                                        <label class="single">Single</label>
                                        <div class="pad">
                                            <button>-</button>
                                            <span>1</span>
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="colonne">
                                        <label class="single">Twin</label>
                                        <div class="pad">
                                            <button>-</button>
                                            <span>0</span>
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                    <div class="colonne">
                                        <label class="single">Double</label>
                                        <div class="pad">
                                            <button>-</button>
                                            <span>0</span>
                                            <button class="plus">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control btn-container">
                                    <button class="btn btn-primary btn-recherche">Rechercher</button>
                                </div>
                            </form>
                        </div>
                        <div class="contact-applis">
                            <div class="wrapper">
                                <h3>S'inscrire<button href="#" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" title="Lorem ipsum" data-content="This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor.">?</button></h3>
                                <div class="form-control">
                                    <input type="email" class="email" placeholder="Votre email" />
                                    <input type="submit" class="valider" value="OK" />
                                </div>
                            </div>
                            <div class="wrapper no-border">
                                <h3>Contactez-nous !</h3>
                                <div class="ligne numero">
                                    01 23 45 67 89
                                    <div>Prix d'un appel local</div>
                                </div>
                                <div class="ligne ecrire">
                                    Nous écrire
                                </div>
                            </div>
                            <div class="wrapper hidden-sm hidden-md hidden-lg no-border">
                                <div class="photo-home">
                                    <img src="images/photo-home.jpg" alt="photo" />
                                    <div class="texte">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <a href="#" class="btn-offres">Voir toutes les offres</a>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <h3><div>Télécharger</div>notre application</h3>
                                <div class="application">
                                    <a href="#" class="appStore"></a>
                                    <a href="#" class="googleStore"></a>
                                </div>
                            </div>
                        </div>
                        <div class="dernieres-reservations hidden-xs">
                            <h3>Dernières réservations</h3>
                            <div class="liste-hotel">
                                <a href="hotel.html" class="hotel">
                                    <div class="photo">
                                        <img src="images/photo1.jpg" alt="Hôtel 1"/>
                                    </div>
                                    <p class="nom">Nom de l'hôtel****</p>
                                    <p class="lieu">Montparnasse<span class="note">8/10</span></p>
                                </a>
                                <a href="hotel.html" class="hotel">
                                    <div class="photo">
                                        <img src="images/photo2.jpg" alt="Hôtel 2"/>
                                    </div>
                                    <p class="nom">Nom de l'hôtel****</p>
                                    <p class="lieu">Montparnasse<span class="note">8/10</span></p>
                                </a>
                                <a href="hotel.html" class="hotel">
                                    <div class="photo">
                                        <img src="images/photo3.jpg" alt="Hôtel 3"/>
                                    </div>
                                    <p class="nom">Nom de l'hôtel****</p>
                                    <p class="lieu">Montparnasse<span class="note">8/10</span></p>
                                </a>
                            </div>
                            <p class="see-all">
                                <a href="#">Tout voir ></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	{{> menu-mobile}}
	{{> footer}}
	{{> foot}}
</body>
</html>