@import "bootstrap/bootstrap";
@import "_globale";

/*---------------------- layoutage globale------------------------*/
#wrapper {
  min-height: 600px;
  background-color: #fff;
  margin: 0 auto;
  padding: @Gotiere;

}

.trow {
  background-color: lighten(@Color2, 62%);
  border: solid 1px @ColorBorder;
  padding: @Gotiere;
  margin: @Gotiere 0;
  .BordRadius();
}

/*---------------------- page/bloc spécifique -----------------------*/

.box1 {
  padding: @Gotiere;
  background-color: @Color1;
}

.box2 {
  padding: @Gotiere;
  background-color: @Color2;
}

.box3 {
  padding: @Gotiere;
  background-color: @Color3;
}

/*------------ #trow3 : --------------*/

#trow3 {
  .bloc_bootsrapale {
    .BordRadius(3px);
    .bloc_RespoBstp();
  }
}

/*------------- #trow4 :LESS ----------*/
/*tr4.1 : imbrication*/
.tr4_mix_trc-i () { //
  border: solid 1px #003333;
  width: 50%;
  background-color: lighten(@Color2, 50%);
  padding: 10px;
  h4 { color: #000}
  p { color: @Color2; }
  .make-lg-column(@grid-columns/2)
}

#trow4 {
  #trc-1 {
    .tr4_mix_trc-i();
  }
}

.test_before:before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  background :-webkit-gradient(url )
}



@font-face {  //  @@VAR-PAR-MARQUE** ;
  font-family: 'Knockout28jf';
  src: url('../fonts/Knockout/ibMMGB2B_Knockout-28JuniorFeathrwt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@colorTitle : green;
#trow5 { // test des fonts

  .changeRed (@c) {
    @colorTitle : @c !important;
  }


  .caseRed {
   @colorTitle : red !important;
    .changeRed (red);
  }

  .caseGreen {
   // @colorTitle : green;
  }

  .CaseBleu {
    // @colorTitle : blue;
  }

  h3 {
    font-size: 20px;
    color: @colorTitle;
  }

}




///// ****BEGIN *****/////

//////////////////////////////////////////////////////
// CONSTANTS

@lightColour: #fff;
@darkColour: #000;
@lightBg: #fff;
@darkBg: #000;
@numberOfThemes: 3; //controls theme loop

//////////////////////////////////////////////////////
// MIXINS

//Theme Definitions by parametric mixin numbers (1), (2), etc.
.themeDefs(1) {
  @lightColour: #f00;
  @darkColour: #fff;
  @lightBg: #f00;
  @darkBg: #fff;
}

.themeDefs(2) {
  //inverse of 1
  @lightColour: #fff;
  @darkColour: #f00;
  @lightBg: #fff;
  @darkBg: #f00;
}

.themeDefs(3) {
  @lightColour: #cfc;
  @darkColour: #363;
  @lightBg: #cfc;
  @darkBg: #363;
}


.curvy {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

//////////////////////////////////////////////////////
// GENERAL STYLING

* {padding: 0;margin: 0;}
html {text-align: center;}
h2 {padding: 20px 0;}

.box {
  .curvy;
  color: @lightColour;
  background: @darkBg;
  display:inline-block; width:10%; padding:20px 5%; margin:0 1% 20px 1%;
}

//////////////////////////////////////////////////////
// THEME BUILDING

.buildThemes(@index) when (@index < @numberOfThemes + 1) {

.theme-@{index} {
  .themeDefs(@index);
  color: @lightColour;
  background: @darkBg;

  .box {
    color: @darkColour;
    background: @lightBg;
  }
}
  .buildThemes(@index + 1);
}
//stop loop
.buildThemes(@index) {}
//start theme building loop
.buildThemes(1);