// clearing
.clearfix {
    &::after {
        display: table;
        content: " ";
    }
}

body {
    font-size: 16px;
    font-family: $font-familt-content;
}

// LAYOUTAGE 
.container,
.row {
    @extend .clearfix;
}

.header {
    @extend .clearfix;
}

.col {
    width: 50%;
    float: left;
}

.page {}