.page-home {
    .home-banner {
        background-image: url('../images/home-main-banner.jpg');
        background-size: cover;
        background-color: #416fa1;
        background-position: center center;
        height: 479px;
        .brand-intro {
            color: white;
            font-family: $font-family-titles;
            font-weight: $fw-title-black;
            font-size: 70px;
            text-align: center;
            margin: auto;
            span {
                display: inline-block;
                vertical-align: middle;
            }
            .intro-p1 {
                font-size: 150px;
            }
            .intro-p2 {
                width: 200px;
            }
        }
    } // descover pdt / slider .... 
    .descover-pdt {
        .title-descover-pdt {}
        .pdt-wrapper {
            background-color: $color-gray-lighter;
            padding: $gutter-half 0px;
        }
        .pdt-intro {
            width: 100%;
            float: left;
            box-sizing: border-box;
            @media (min-width: $bp-min-md) {
                width: 45%;
                padding-right: $gutter-half;
            }
        }
        .pdt-slider {
            width: 100%;
            float: right;
            box-sizing: border-box;
            @media (min-width: $bp-min-md) {
                width: 55%;
                padding-left: $gutter-half;
            }
            >* {
                display: inline-block;
                vertical-align: middle;
            }
            .inner-slider-pdt {
                width: calc(100% - 50px);
                .info-pdt {
                    text-align: center
                }
                /* prix */
                [class*='price-'] {
                    padding: 5px $gutter-half;
                    display: inline-block;
                    &.price-new {
                        color: $color-brand-primary;
                        font-size: 35px;
                        display: inline-block;
                    }
                    &.price-old {
                        font-size: 25px;
                        position: relative;
                        &::before {
                            content: " ";
                            display: block;
                            width: 100%;
                            position: relative;
                            height: 1px;
                            background-color: $color-black-primary;
                            transform: rotate(-30deg);
                            top: 14px;
                        }
                    }
                }
            }
            .nav-slider {
                width: 15px;
                text-align: center;
                display: inline-block;
                font-size: 20px;
                @extend .pointer;
            }
        }
    }
}