// FONTS
/* @font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$font-family-titles: 'Montserrat',
sans-serif;
$font-family-content: 'Arial',
sans-serif;
$fw-title-light: 300;
$fw-title-regular: 400;
$fw-title-bold: 700;
$fw-title-black: 900;
// breack-point; 
$bp-max-sm: 767px;
$bp-min-md: 768px;
$bp-max-md: 991px;
$bp-min-lg: 992px;
$bp-max-lg: 1199px;
$bp-min-xl: 1200px;
// COLORS 
$color-black-primary: #22252b;
$color-black-secondary: #30333b;
$color-gray-meduim: #a9b0bc;
$color-gray-lighter: #f3f5f9;
$color-brand-primary: #ec0027;
// gutter
$gutter: 30px;
$gutter-half: $gutter/2;
// min-lg
@media (min-width: 992px) {}

//  min-xl
@media (min-width: 1200px) {}