<div id="aside-bar">
    <div class="ab-ctn-btn">
        <a class="bouton-2 b2-openClose" id="openCloseAsideBar"></a>
    </div>

    <div class="hideWhenClosed">
        <h2> Dossiers </h2>

        <div class="ab-search">
            <form action="">
                <input type="text" placeholder="Rechercher un dossier" />
                <span class="icone-info"></span>
            </form>
        </div>

        <div class="ctn-btnNewFolder">
            <button class="bouton-large"> 
               <span class="icone"></span>
               <span> Nouveau Dossier</span>
           </button>
        </div>

        <div class="ab-menu">
            <a class="abm-item abm-mesDossier">
                <span> Mes dossiers </span>
            </a>
            <a class="abm-item abm-tousDossier">
                <span>Tous les dossiers</span>
            </a>
            <a class="abm-item abm-aOuvrir">
                <span> A ouvrir </span>
            </a>

            <a class="abm-item abm-piece">
                <span> Pieces a traiter </span>
            </a>

            <a class="abm-item abm-bat">
                <span> Bat </span>
            </a>

            <a class="abm-item abm-aCarencer">
                <span> a carencer </span>
            </a>

            <a class="abm-item abm-aRelancer">
                <span> A relancer </span>
            </a>
        </div>
    </div>
</div>