<div class="clearfix"></div>
<footer class="footer-home">
    <div class="footer-content">
        <p class="text-center"> Copyright 2017 © Vérifimmo v1.0 - Tous droits réservés </p>

    </div>
</footer>