<div class="clearfix"></div>
<footer>
    <div class="footer-content">
        <p class="text-center"> Copyright 2017 © Vérifimmo v1.0 - Tous droits réservés </p>

        <img class="logo-footer" src="images/logo-verifimmo-footer.png" alt="">
    </div>
</footer>