<header id="header-home">
    <div class="header-first">
        <div class="container-fluid">
            <img src="images/logo-verifimmp.png" alt="" class="logo-verifimmo">
            <img src="images/logo-asterisk-home.png" alt="" class="logo-asterisk">
        </div>
    </div>
    <div class="header-second">
    </div>
</header>