<header id="header">
    <div id="ctn-logo">
        <img src="images/logo-asterisk.png" alt="">
    </div>

    <div id="head-panel">
        <div id="hp-left">
            <a class="hpl-item hpl-agenda"><span>Agenda<span class="agenda-notif">2</span></span></a>
            <a class="hpl-item hpl-compte"><span>Mon compte</span></a>
        </div>

        <div id="hp-right">
            <a class="hpr-item hpr-bao"><span>BoIte A outils</span></a>
            <a class="hpr-item hpr-param"><span>Parametrages</span></a>
        </div>
    </div>

</header>