<!DOCTYPE html>

<head>
    {{> head}}
</head>

<body>

    <div class="page">
        {{> header }}
        <div class="middle">
            {{> aside-bar}}
            <div id="main-content" class="page-ficheDossierAccueil">
                <div class="container-fluid">
                    <div class="row mc-head">
                        <div class="col-sm-3">
                            <h2> Dossier n° 150 665 </h2>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <div class="nav-boutons-right">
                                <button class="btn-al-envoiMail"> 
                                   <span class="icone"></span>
                                   <span> Envoi d’un mail </span> 
                               </button>

                                <button class="btn-al-plus"> 
                                   <span class="icone"></span>
                                   <span> nouvel EvEnement </span> 
                               </button>
                                <button class="btn-al-modif"> 
                                   <span class="icone"></span>
                                   <span>Modifier  </span>
                               </button>
                            </div>
                        </div>
                    </div>

                    <div class="fda-header">
                        <div class="row fdah-detail">

                            <div class="col-sm-4">
                                <div class="fdah-row">
                                    <label for="">Banque : </label>
                                    <span>Société Générale </span>
                                </div>
                                <div class="fdah-row">
                                    <label for="">Centre-banque :  </label>
                                    <span>SG PCS Rennes</span>
                                </div>
                                <div class="fdah-row">
                                    <label for=""> MO :  </label>
                                    <span> M. DUPONT </span>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="fdah-row">
                                    <label for=""> Reçu le :  </label>
                                    <span> 10/01/2017 / <strong> Enregistré le :  </strong> 10/01/2017 </span>
                                </div>
                                <div class="fdah-row">
                                    <label for=""> DC1 :  </label>
                                    <span> 08/02/2017 </span>
                                </div>
                                <div class="fdah-row">
                                    <label for=""> DC2 :  </label>
                                    <span> 08/02/2017 </span>
                                </div>
                            </div>


                            <div class="col-sm-3">
                                <div class="fdah-row">
                                    <label for=""> Qualification :  </label>
                                    <span> CCMI Avec </span>
                                </div>
                                <div class="fdah-row">
                                    <label for=""> Etat :  </label>
                                    <span> A carencer  </span>
                                </div>
                                <div class="fdah-row">
                                    <label for=""> Titulaire :  </label>
                                    <span>BLO   </span>
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <span class="badge-oeuf bo-green "> 14j </span>
                            </div>


                        </div>
                        <div class="fdah-menu">
                            <a class="active"> accueil </a>
                            <a> Banque </a>
                            <a> Mo </a>
                            <a href=""> Construction </a>
                            <a href=""> Operateurs </a>
                            <a href=""> OFFRES </a>
                            <a href=""> Analyse </a>
                            <a href=""> Conclusion </a>
                            <a href=""> Certification </a>
                            <a href=""> Evenements </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="fda-content">
                        <div class="nav-boutons-right">
                            <button class="btn-al-reglage"> 
                                   <span class="icone"></span>
                                   <span> PrEfErences d’affichage</span> 
                               </button>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row boxs-widgets ctn-2cols">

                            <!-- @@bw-col1 > begin -->
                            <div class="col-sm-6 bw-col1">
                                <div class="bw-infoImportant">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt"> informations importantes   </span>
                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-list">

                                            <a class="bwcl-row"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed purus a libero blandit aliquam a non lectus. Morbi pellentesque urna eros, eu feugiat nunc posuere vitae.  </a>

                                            <a class="bwcl-row"> <span class="bwcl-label"> label Report de dElai : </span> 3 jours - Libellé de motif </a>
                                            <a class="bwcl-row"> <span class="bwcl-label">  Reclamation :  </span> 15/02/2017 - Libellé de motif </a>
                                            <a class="bwcl-row"> <span class="bwcl-label">  Requalification : </span> CCMI Avec - Libellé de motif </a>


                                            <a class="bwcl-row"> <span class="bwcl-label"> label Report de dElai : </span> 3 jours - Libellé de motif </a>
                                            <a class="bwcl-row"> <span class="bwcl-label">  Reclamation :  </span> 15/02/2017 - Libellé de motif </a>
                                            <a class="bwcl-row"> <span class="bwcl-label">  Requalification : </span> CCMI Avec - Libellé de motif </a>

                                            <!---->

                                        </div>
                                    </div>
                                </div>

                                <div class="bw-mesTaches">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt">  Mes tAches    </span>
                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-list">
                                            <a class="bwcl-row">15/02/2017 - Rappeler MO </a>
                                            <a class="bwcl-row"> 16/02/2017 - Envoyer un courrier à l’assureur  </a>
                                            <a class="bwcl-row"> 18/02/2017 - Rappeler l’assureur  </a>
                                        </div>
                                        <div class="ctn-btn-right">
                                            <a class="bouton-2 b2-Plus"> </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="bw-pieceManqantes">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt"> Pieces manquantes   </span>
                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-list">
                                            <a class="bwcl-row">15/02/2017 - Rappeler MO </a>
                                            <a class="bwcl-row"> 16/02/2017 - Envoyer un courrier à l’assureur  </a>
                                            <a class="bwcl-row"> 18/02/2017 - Rappeler l’assureur  </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="bw-courrierEnvoye">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt">Courriers envoyEs   </span>
                                        <span class="bwh-navigat">
                                        <a class="bwhn-left"></a>
                                        <a class="bwhn-right"></a>
                                </span>
                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-list">
                                            <a class="bwcl-row">15/02/2017 - M. DUPONT - Lorem ipsum dolor sit amet </a>
                                            <a class="bwcl-row"> 15/02/2017 - MME chenue - Lorem ipsum dolor sit amet, consectetur adipiscing elit  </a>
                                            <a class="bwcl-row"> 15/02/2017 - M. GARD - Lorem ipsum dolor sit amet, consectetur adipiscing elit </a>

                                            <a class="bwcl-row">15/02/2017 - M. DUPONT - Lorem ipsum dolor sit amet </a>
                                            <a class="bwcl-row"> 15/02/2017 - MME chenue - Lorem ipsum dolor sit amet, consectetur adipiscing elit  </a>
                                            <a class="bwcl-row"> 15/02/2017 - M. GARD - Lorem ipsum dolor sit amet, consectetur adipiscing elit </a>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <!-- @@bw-col1  > end -->


                            <!-- @@bw-col2 > begin -->
                            <div class="col-sm-6 bw-col2">
                                <div class="bw-qualificat">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt"> Qualification  </span>
                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-text">
                                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                            <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="bw-operateur">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt"> opErateurs  </span>

                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-text">
                                            <div class="bwc-row">
                                                <div class="pull-right">
                                                    <a class="icone-carre ic-folder">
                                                    </a>
                                                    <a class="icone-carre ic-list">
                                                    </a>
                                                </div>
                                                <p> EVOLUBAT BAECHLER - Maçonnerie Charpente </p>
                                                <div class="bwor-row">
                                                    <span class="bwor-icone icone-home"></span>
                                                    <span class="bwor-text ">Nom du garant </span>
                                                </div>
                                                <div class="bwor-row">
                                                    <span class="bwor-icone icone-parapluie"></span>
                                                    <span class="bwor-text "> Nom de l’assureur </span>
                                                </div>
                                            </div>

                                            <div class="bwc-row">
                                                <div class="pull-right">
                                                    <a class="icone-carre ic-folder">
                                                    </a>
                                                    <a class="icone-carre ic-list">
                                                    </a>
                                                </div>
                                                <div class="bwor-row">
                                                    <span class="bwor-icone icone-redDisk"> </span>
                                                    <span class="bwor-text ">   OOREKA -Menuiserie  extérieure</span>
                                                </div>
                                                <div class="bwor-row">
                                                    <span class="bwor-icone icone-home-barree"></span>
                                                    <span class="bwor-text ">Nom du garant </span>
                                                </div>
                                                <div class="bwor-row">
                                                    <span class="bwor-icone icone-parapluie-barree"></span>
                                                    <span class="bwor-text "> Nom de l’assureur </span>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>

                                <div class="bw-MO">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt"> MO   </span>
                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-text">


                                            <p>
                                                <strong> M.DUPONT Henri  </strong> <br> 1 rue des Lupins <br> 75008 Paris - FRANCE

                                            </p>

                                            <p> rdupont@sg-idf.com <br> Tél : 01 01 01 01 01</p>
                                        </div>

                                    </div>
                                </div>


                                <div class="bw-courrierRecu">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt"> Mails reçus   </span>
                                        <span class="bwh-navigat">
                                        <a class="bwhn-left"></a>
                                        <a class="bwhn-right"></a>
                                </span>
                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-list">
                                            <a class="bwcl-row">
                                                <span class="icone-mail-new"> </span>
                                                <span class="icone-pieceJointe"> </span>
                                                <span> <strong> 15/02/2017 - M. DUPONT - Lorem ipsum dolor sit amet  </strong> </span> </a>
                                            <a class="bwcl-row">
                                                <span class="icone-mail-vue"> </span>
                                                <span class="icone-pieceJointe"> </span>
                                                <span>  5/02/2017 - MME chenue - Lorem ipsum dolor sit amet, consectetur adipiscing elit </span>
                                            </a>

                                            <a class="bwcl-row">
                                                <span class="icone-mail-vue"> </span>
                                                <span class="icone-pieceJointe"> </span>
                                                <span>  5/02/2017 - MME chenue - Lorem ipsum dolor sit amet, consectetur adipiscing elit </span>
                                            </a>
                                        </div>

                                    </div>
                                </div>




                                <div class="bw-event">
                                    <div class="bw-head">
                                        <span class="bwh-icone"></span>
                                        <span class="bwh-txt"> evenements   </span>
                                        <span class="bwh-navigat">
                                    <a href=""> Voir tous les EVEnements  </a>
                                </span>
                                    </div>
                                    <div class="bw-content">
                                        <div class="bwc-list">
                                            <a class="bwcl-row">

                                                <span>  15/02/2017 - M. DUPONT - Lorem ipsum dolor sit amet </span>
                                            </a>
                                            <a class="bwcl-row">

                                                <span class="icone-flag"></span>  <span> 15/02/2017 - M. DUPONT - Lorem ipsum dolor sit amet </span>
                                            </a>
                                            <a class="bwcl-row">

                                                <span>  15/02/2017 - M. DUPONT - Lorem ipsum dolor sit amet </span>
                                            </a>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <!-- @@bw-col2 > end -->
                        </div>

                        <div class="nav-boutons-right"> 
                               <button class="btn-al-dupliquer"> 
                                   <span class="icone"></span>
                                   <span> dupliquer  </span>
                               </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    {{> foot }}

</body>

</html>