<!DOCTYPE html>

<head>
    {{> head}}
</head>

<body>

    <div class="page">
        {{> header }}
        <div class="middle">
            {{> aside-bar}}
            <div id="main-content" class="page-TableauDeBord">
                <div class="container-fluid">
                    <div class="row mc-head">
                        <div class="col-sm-3">
                            <h2> Tableau de bord </h2>
                        </div>
                        <div class="col-sm-3 col-sm-offset-6">
                            <div class="mch-select">
                                <select>
                                <option value="option1"> Tableau de bord </option>
                                <option value="option2"></option>
                                <option value="option3"></option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mc-content-tableauBord">

                     <div class="col-sm-3">
                        <div class="mc-box-tb mcboxtb-RDV">
                            <a class="mcbox-head">
                                <span class="mcboxh-icon"></span>
                                <span class="mcboxh-text">  Rendez-vous </span>
                                <span class="mcboxh-notif"> 2 </span>
                            </a>
                            <div class="mcbox-ctn">
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                               <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-sm-3">
                        <div class="mc-box-tb mcboxtb-aOuvrir">
                            <a class="mcbox-head">
                                <span class="mcboxh-icon"></span>
                                <span class="mcboxh-text"> A ouvrir </span>
                                <span class="mcboxh-notif"> 2 </span>
                            </a>
                            
                            <div class="mcbox-ctn">
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                               <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
               
                    <div class="col-sm-3">
                        <div class="mc-box-tb mcboxtb-piece">
                            <a class="mcbox-head">
                                <span class="mcboxh-icon"></span>
                                <span class="mcboxh-text"> Pieces A traiter  </span>
                                <span class="mcboxh-notif"> 2 </span>
                            </a>
                            
                            <div class="mcbox-ctn">
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                               <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                            </div>  
                        </div>
                    </div>
                    
                     <div class="col-sm-3">
                        <div class="mc-box-tb mcboxtb-bat">
                            <a class="mcbox-head">
                                <span class="mcboxh-icon"></span>
                                <span class="mcboxh-text"> BAT </span>
                                <span class="mcboxh-notif"> 2 </span>
                            </a>
                            
                            <div class="mcbox-ctn">
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                               <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
               
                    <div class="col-sm-3">
                        <div class="mc-box-tb mcboxtb-mesTaches">
                            <a class="mcbox-head">
                                <span class="mcboxh-icon"></span>
                                <span class="mcboxh-text">  Mes taches  </span>
                                <span class="mcboxh-notif"> 2 </span>
                            </a>
                            
                            <div class="mcbox-ctn">
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                               <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                            </div>
                             <a href="" class="bouton-2 b2-champs b2-Plus"></a>
                        </div>
                    </div>
                    
                     <div class="col-sm-3">
                        <div class="mc-box-tb mcboxtb-aRelancer">
                            <a class="mcbox-head">
                                <span class="mcboxh-icon"></span>
                                <span class="mcboxh-text">  A relancer </span>
                                <span class="mcboxh-notif"> 2 </span>
                            </a>
                            <div class="mcbox-ctn">
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                               <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
               
                    
                    <div class="col-sm-3">
                        <div class="mc-box-tb mcboxtb-aCarencer">
                            <a class="mcbox-head">
                                <span class="mcboxh-icon"></span>
                                <span class="mcboxh-text">  A carencer  </span>
                                <span class="mcboxh-notif"> 2 </span>
                            </a>
                            <div class="mcbox-ctn">
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                               <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                            </div>
                             
                        </div>
                    </div>
                    
                     <div class="col-sm-3">
                        <div class="mc-box-tb mcboxtb-aPasser">
                            <a class="mcbox-head">
                                <span class="mcboxh-icon"></span>
                                <span class="mcboxh-text">  Rendez-vous </span>
                                <span class="mcboxh-notif"> 2 </span>
                            </a>
                           
                            <div class="mcbox-ctn">
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                                <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                                
                               <a class="mcboxc-row">
                                    <span> 
                                        13/02/17 | BNP
                                    </span> 
                                    <span class="pull-right"> 
                                        160 562
                                    </span>
                                </a>
                            </div>
                             
                        </div>
                    </div>
                    </div>


                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    {{> foot }}

</body>

</html>