/* page drafts */
.page-api-rest {
    .testItem {
        width: 100%;
    }
    .id-cnx {
        font-size: 10px;
        text-align: center;
    }
}

// min-sm
@media (min-width: $bp-min-sm) {
}

// min-md
@media (min-width: $bp-min-md) {
    .testItem {
        width: 50%;
    }
}

// min-lg
@media (min-width: $bp-min-lg) {
    .testItem {
        width: 33%;
    }
}