/* page drafts */
.page-drafts {


  /*test-anim-hover-btn */  
  .test-anim-hover-btn {
    .btn-01 {
        background-color: #fff;
        border : 1px solid #000;
        display: inline-block;
        width: 200px;
        height: 70px; line-height: 70px;
        text-align: left;

        .engrenages-anim {
            display: inline-block;
            .fa-cog {
                &.bigg {
                    font-size: 30px;
                } 
                 &.small {
                    font-size: 20px;
                } 
            } 

        }
    }
  }
}

// min-sm
@media (min-width: $bp-min-sm) {
}

// min-md
@media (min-width: $bp-min-md) {
}

// min-lg
@media (min-width: $bp-min-lg) {
}   