/* page drafts */
.page-api-rest {
    .testItem {
        width: 100%;
        background-color: #eee;
        box-sizing: border-box;
        padding: 2%;
        cursor: pointer;
        &:hover {
            background-color: $color-gray-meduim;
          //  border : solid 1px $color-gray-meduim ; 
        }
    }
    .id-cnx {
        font-size: 10px;
        text-align: center;
    }
}

// min-sm
@media (min-width: $bp-min-sm) {
}

// min-md
@media (min-width: $bp-min-md) {
    .page-api-rest {
        .testItem {
            width: 48%;
            margin: 1%;
            float: left;
            img { width: 100%;}
        }
    }
}

// min-lg
@media (min-width: $bp-min-lg) {
    .page-api-rest {
        .testItem {
            width: 31%;
        }
    }
}