//-------- PLUGIN ---------

// bootsrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// font-awesome
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
//slick-carousel 
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/bourbon/core/bourbon";
/* import flatpickr begin */
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";
/* import flatpickr begin */

// paritials
@import 'normaliz';
@import 'variables';
@import 'mixins';
@import 'general';
@import 'header';
@import 'footer';
// componoent 
@import 'components/cptIncrementField';
// specifique pages
@import "page-drafts";
@import "page-home";
@import "page-test-js";
@import "page-api-rest"; 


.page-drafts {
  background: lightblue;
  padding-top: 46px; 
} 


/*---- Temp to move in appropriate place  ( header ) ----*/

/* page drafts */
.page-drafts {
  /*test-anim-hover-btn */  

  .menu-draft {
    width: 200px;
    position: fixed;
    right: 0;
    bottom: 10%;
    background: rgba(255,255,255,.75); //  $color-gray-meduim
    border: 5px solid $color-gray-lighter;
    z-index: 1000;
    padding: 5px;
    @include transit();

    &.close-menu-draft {
      right : -197px;
    }

    .inner-list { 
      height: 400px;
      overflow-y: scroll;
    }

    .btn-menu-draft {
      display: block;
      position: absolute;
      left: -39px; top: 0px; 
      background-color: white;
      padding: $gutter-half 0 ;
      @include border-left-radius(10px);
      border : solid 2px #eee; 
      border-right: none;
       width: 40px;
       text-align: center;
       i { 
         font-size: 15px;
         position: relative;
         animation: moving-arrow .75s infinite linear;
         color : orange;
        }
    }

    a {
      display: block; font-size: 12px; padding: 5px; border-bottom: 1px solid #eee;
    } 

          /* mi */
      @keyframes moving-arrow {
        0% {
           left : 5px;
          }
        50% {
           left: 0px;
          }
        100% {
          left: 5px;
        }
      }

  }
  .test-anim-hover-btn {
    .btn-01 {
        background-color: #fff;
        border : 1px solid #000;
        display: inline-block;
        width: 200px;
        height: 70px; line-height: 70px;
        text-align: left;
        cursor: pointer;

        .engrenages-anim {
            display: inline-block;
            .fa-cog {
                &.bigg {
                    font-size: 30px;
                    animation: rotate-gearings 3s infinite linear;
                }
                 &.small {
                    position: relative;
                    top: -17px;
                    right: 8px;
                    font-size: 20px;
                    animation: rotate-gearings-inverse 3s infinite linear;
                }
                &.pause {
                  animation-play-state: paused;
                }
            }

        }
    }

    
      /* animation to rotate */
      @keyframes rotate-gearings {
        from {
            transform: rotate(0deg);
          }
        to {
            transform: rotate(359deg);
            /* pour cette anim en retranche -1 */ 
          }
      }

       @keyframes rotate-gearings-inverse {
        from {
            transform: rotate(359deg);
          }
        to {
            transform: rotate(0);
          }
      }
  } /* end test-anim-hover-btn*/

  .test-bloc-responsive {
     figure {
         height: 100%; 
         background-color: blueviolet;
        img { 
        }
     }
    .pushing-bloc {
        background-color: #fff; 

        .col-ctn {
           // background-color: yellowgreen;
            display: flex; 
            flex-direction: column;
            .main-ctn {
               flex: 1;
                padding: $gutter-half;
            }
        }
        .col-img {
        }

        .btns {
            .btn-site {  color: #fff;
            
                &.btn-01 { background-color: orange;} 
                &.btn-02 { background-color: maroon;}
            } 
        } 
    }     
  } /* end test-bloc-responsive */

  .test-lazyloading-observer {
      .lazyload-img {
          margin-bottom: 15px;
      } 
  }

  .test-lazyload-codpin {
    @import "test-lazyload-codpin"; // les import dans le milieu du code ça marche !!! 
  }/* test-lazyload-codpin */

  .test-height-100 {
    .parrent-0 { height: 300px; background-color: lightyellow; width: 50%; display: block; padding-top: $gutter;
                div { height : 100%; } 
              }
    .parrent-1 { background-color: lightgreen; width: 50%; display: block; padding-top: $gutter;}
    .parrent-2 {  background-color: lightsalmon; width: 50%; display: block; padding-top: $gutter;}
  }

  /* test-chiffre-incrimentes-animes */
  .test-chiffre-incrimentes-animes {
    .box {display: inline-block;}
  }
}

// min-sm
@media (min-width: $bp-min-sm) {
}

// min-md
@media (min-width: $bp-min-md) {
}

// min-lg
@media (min-width: $bp-min-lg) {
}