{# index.twig #}
{% import "../0-config/_macros.twig" as macros %}
{% import "../3-organisms/_header.twig" as header %}
{% extends "../4-templates/layout.twig" %}


{% block pageTitle %}
    {% set title ="la home" %}
    {{macros.titleSEO(title)}}
{% endblock %}

{% block page %}
    <div class="container">
        ctn home
        {{ header.display("") }}
        {{ test01 }}
    </div>
{% endblock %}
