<nav>
    <a class="active" href="list-des-journees.html">
        Journées
    </a>

    <a href="list-des-sejours.html">
        Séjours
    </a>

    <a href="#">
        Bibliothèque du RIF
    </a>

    <a href="index.html">
        Vie du RIF
    </a>

    <a href="#">
        Infos utiles
    </a>

    <a href="#">
        Mon compte
    </a>

    {# (!) hide for mobile   #}
    <a class="deconnextion d-block d-md-none" href="#">
        Déconnexion
    </a>


</nav>
