<!DOCTYPE html>

<head>
  {{> head}}
  <title> Drafts </title>
</head>

<body>
  <div class="page page-drafts">

    <!-- Header : begin -->
   {{> header}}
    <!-- Header : end  -->
    <!--middle : begin  -->
    <div class="middle"> 
      <div class="container"> 
        <section>
          <h3> slick carousel </h3>
          <div class="row">
            <div class="col-sm-3">
              <div class="slide-test">
                <div class="box min-sm"></div>
                <div class="box min-md"></div>
                <div class="box min-lg"></div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3> </h3>
          <p> </p>
          {{> cptIncrementField}}
        </section>
      </div>
    </div>
    <!--middle : end  -->
   {{> footer}}
  </div>
  {{> foot}} 

</body>
</html>