<!DOCTYPE html>

<head>
  {{> head}}
  <title> home </title>
</head>

<body>
  <div class="page page-home">
    <!-- Header : begin --> 
   {{> header}}
    <!-- Header : end  -->
    <!--middle : begin  -->
    <div class="middle">
      <div class="container"> 
        <div class="row">
          <div class="col-sm-6">
            <div class="slide-test"> 
              <div class="box min-sm"></div>
              <div class="box min-md"></div>
              <div class="box min-lg"></div>
            </div> 
          </div>
        </div> 
      </div>
    </div>
    <!--middle : end  -->
   {{> footer}}
  </div>
  {{> foot}} 

</body>
</html>