<!DOCTYPE html>

<head>
  {{> head}}
</head>

<body>
  <div class="page page-home">

    <!-- Header : begin -->
   {{> header}}
    <!-- Header : end  -->
    <!--middle : begin  -->.
    <div class="middle">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere architecto veniam assumenda provident, quam aut
            amet eius ipsam odit ipsa quod sit rem beatae doloremque, vitae praesentium distinctio. Consequuntur, magni!
          </div>
        </div>
      </div>
    </div>
    <!--middle : end  -->.
   {{> footer}}
  </div>
  {{> foot}} 

</body>
</html>