@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

// FONTS
$font-regular : 'OpenSans-Regular';
$font-semibold : 'OpenSans-SemiBold';
$font-bold : 'OpenSans-Bold';
$font-extrabold : 'OpenSans-ExtraBold';
$font-family-titles: $font-bold;
$font-family-content: $font-semibold;
$fw-title-light: 300;
$fw-title-regular: 400;
$fw-title-bold: 700;
$fw-title-black: 900;

// COLORS 
$color-black-primary: #2D2926;
$color-black-secondary: #30333b;
$color-gray-meduim: #DBDCDE;
$color-gray-lighter: #DBDCDE;
$color-brand-primary: #1BA8ED;
$color-brand-secondary : #F35800;
$color-brand-third : #36BC74;





// border shadow :


/*----- RESPONSIVE ------*/
$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px);

// Grid containers
$container-max-widths: (sm: 540px,
md: 720px,
lg: 991px,
xl: 1200px);

// MEDIA QUERY
$bp-min-sm : "only screen and (min-width: #{map-get($grid-breakpoints, "sm")})"; // min 576px
$bp-min-md : "only screen and (min-width: #{map-get($grid-breakpoints, "md")})"; // min 768px
$bp-min-lg : "only screen and (min-width: #{map-get($grid-breakpoints, "lg")})"; // min 991px
$bp-min-xl : "only screen and (min-width: #{map-get($grid-breakpoints, "xl")})"; // min 1200px

$bp-max-sm : "only screen and (max-width: #{map-get($grid-breakpoints, "md")-1})"; // max 767px
$bp-max-md : "only screen and (max-width: #{map-get($grid-breakpoints, "lg")-1})"; // max 991px
$bp-max-lg : "only screen and (max-width: #{map-get($grid-breakpoints, "xl")-1})"; // max 1199px


// conditional variable by media query, in this case only css variable are possible not sass variable !! 

// step 01 : make conditional varibale by css variable mecanisme 
:root {
    // mobile
    --fz-default: 16px;
    --fz-h1: 30px;
    --fz-h2: 24px;
    --fz-h3: 20px;
    --fz-h4: 17px;
    --gutter-base: calc(30px * .8);
    --gutter-half: calc(15px * .8);
}

@media #{$bp-min-md} {

    // tab et +
    :root {
        --fz-default: 20px;
        --fz-h1: 40px;
        --fz-h2: 34px;
        --fz-h3: 28px;
        --fz-h4: 22px;
        --gutter-base: 30px;
        --gutter-half: 15px;
    }
}

// step 03 : affect css variable on scss varaible
// spacing 
$gutter-base: var(--gutter-base);
$gutter-half: var(--gutter-half);
$fz-default : var(--fz-default);
$fz-h1: var(--fz-h1);
$fz-h2: var(--fz-h2);
$fz-h3: var(--fz-h3);
$fz-h4: var(--fz-h4);