    /* _global partial : begin */
    
    // test 555 
    body {
        background-color: white; // $color-gray-light
    }
    
    .box {
        margin-bottom: 5px;
        width: $w-box;
        height: $h-box;
        &.primary {
            background-color: $color-primary;
        }
        &.secondary {
            background-color: $color-secondary;
        }
    }

    /* _global partial : end */