<nav class="main-menu {{addClass}}">
    <a href="#">
        home
    </a>
    <a href="./services.html">
        services
    </a>
    <a href="./contact.html">contact</a>
    <a href="./styleguide.html"> style guide </a>
    <a href="#">  actu</a>
</nav>
