<nav class="main-menu {{addClass}}">
    <a href="#">
        home
    </a>
    <a href="./services.html">
        services
    </a>
    <a href="./contact.html">contact</a>
    <a href="./styleguide.html">
        style guide
    </a>
    <a href="./TEST-parallax.html">

        page-TEST-parallax
    </a>

    <a href="./TEST-parallax2.html">

        page-TEST-parallax 2
    </a>

    <a href="./TEST-simpleParallax.html">

        TEST-simpleParallax

    </a>

</nav>
