{% macro dispaly(addClass="") %}
    <div class="search-bar {{addClass}}">
        <input class="search-bar_text" type="text"/>
        <button class="btn" class="search-bar_button">btn search</button>
    </div>
{% endmacro %}
