
.icon-forward:before { content: '\e801'; } /* '' */
.icon-notif:before { content: '\e803'; } /* '' */
.icon-save2:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-valide:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e807'; } /* '' */
.icon-forward-1:before { content: '\e808'; } /* '' */
