/******* Liste des variables SCSS ********/

$blanc: #ffffff;
$blanc2: #f1f1f1;
$blanc3: #f2f2f2;

$noir: #000000;

$gris-clair: #a7aab4;
$gris-clair2: #b4b6bd;


$gris: #6a6e7c;
$gris2: #666666;
$girs-meduim : #CCCCCC;
$gris3: #8c909c;

$gris-fonce: #313131;

$bleu-marine: #109cab;

$vert: #89c5b6;
$vert2: #86babf;

$rouge: #ff0000;

$police1: "Roboto-Light";
$police2: "Roboto-Medium";

$color_separateur : $girs-meduim;