{# index.twig #}
{% extends "4-templates/layout.twig" %}

{% block pageTitle %}
    {% set title ="contact page" %}
    {{macros.titleSEO(title)}}
{% endblock %}


{% block page %}
    <div class="container">
        <h4>
            c'est la page contact... !!!
            {{macros.titleSEO()}}
        </h4>
        <p>
            {{macros.dispo()}}
        </p>
    </div>
{% endblock %}
