{# index.twig #}
{% extends "4-templates/layout.twig" %}
{% import "0-config/_macros.twig" as macros %}


{% block pageTitle %}
    {% set title ="la home" %}
    {{macros.titleSEO(title)}}
{% endblock %}

{% block page %}
    <div class="container">
        c'est le ctn de la  home fff .../...
        {{ test01 }}
    </div>
{% endblock %}
