{# index.twig #}
{% extends "layout.twig" %}

{% block pageTitle %}
    {% set title ="la home" %}
    {{title}}
    {{ siteName}}
{% endblock %}

{% block page %}
    <div class="container">
        <h1>
            c'est la home ...
        </h1>
    </div>
{% endblock %}
