{# index.twig #}
{% extends "4-templates/layout.twig" %}

{% block pageTitle %}
    {% set title ="services page" %}
    {{macros.titleSEO(title)}}
{% endblock %}

{% block page %}
    <div class="container">
        P: services
    </div>
{% endblock %}
