{# index.twig #}
{% extends "4-templates/layout.twig" %}
{% block pageTitle %}
    page-TEST-simpleParallax
{% endblock %}
{% block classPage %}
    page-TEST-fonticone
{% endblock %}

{% block page %}
    <section>

        <i class="icon-arrow"></i>
        <i class="icon-calendar"></i>
        <i class="icon-burger-menu"></i>


    </section>

{% endblock %}
