{# index.twig #}
{% extends "4-templates/layout.twig" %}
{% block pageTitle %}
    {% set title ="contact page" %}
    {{macros.titleSEO(title)}}
{% endblock %}
{% block classPage %}
    page-TEST-parallax
{% endblock %}

{% block page %}

    <section class="para-etoile">
        <div class="container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi officiis earum nesciunt error cum adipisci perferendis. Optio, nostrum, accusantium, dignissimos beatae facere voluptas aliquam quis ex et vitae totam blanditiis!
        </div>
    </section>

    <section class="para-bulls">
        <div class="container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi officiis earum nesciunt error cum adipisci perferendis. Optio, nostrum, accusantium, dignissimos beatae facere voluptas aliquam quis ex et vitae totam blanditiis!
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi officiis earum nesciunt error cum adipisci perferendis. Optio, nostrum, accusantium, dignissimos beatae facere voluptas aliquam quis ex et vitae totam blanditiis!
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi officiis earum nesciunt error cum adipisci perferendis. Optio, nostrum, accusantium, dignissimos beatae facere voluptas aliquam quis ex et vitae totam blanditiis!

            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi officiis earum nesciunt error cum adipisci perferendis. Optio, nostrum, accusantium, dignissimos beatae facere voluptas aliquam quis ex et vitae totam blanditiis!

            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi officiis earum nesciunt error cum adipisci perferendis. Optio, nostrum, accusantium, dignissimos beatae facere voluptas aliquam quis ex et vitae totam blanditiis!

            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi officiis earum nesciunt error cum adipisci perferendis. Optio, nostrum, accusantium, dignissimos beatae facere voluptas aliquam quis ex et vitae totam blanditiis!

            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi officiis earum nesciunt error cum adipisci perferendis. Optio, nostrum, accusantium, dignissimos beatae facere voluptas aliquam quis ex et vitae totam blanditiis!


        </div>
    </section>
{% endblock %}
