{# index.twig #}
{% extends "4-templates/layout.twig" %}
{% block pageTitle %}
    {% set title ="contact page" %}
    {{macros.titleSEO(title)}}
{% endblock %}
{% block classPage %}
    page-TEST-parallax2
{% endblock %}

{% block page %}

    <section class="parallax para-01">

        <div class="container">
            <h2>
                ctn 01
            </h2>
            <p>
                <code>
                    parallax: function() {
                                                                                                                                                                                                                                                                                                                                                                                                                                        var paralax = $(".parallax");
                                                                                                                                                                                                                                                                                                                                                                                                                                        window.addEventListener("scroll", function() {
                                                                                                                                                                                                                                                                                                                                                                                                                                          var offset = window.pageYOffset;
                                                                                                                                                                                                                                                                                                                                                                                                                                          //  paralax.style.backgroundPositionY = offset * 0.5 + "px";
                                                                                                                                                                                                                                                                                                                                                                                                                                          paralax.css("background-position-y", offset * 0.7 + "px");
                                                                                                                                                                                                                                                                                                                                                                                                                                          //  console.log(offset);
                                                                                                                                                                                                                                                                                                                                                                                                                                        });
                </code>
            </p>
        </div>
    </section>

    <section class="parallax para-02">
        <div class="container">
            <h2>
                ctn 01
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus fugit qui deserunt ratione maiores rerum error, nisi rem minima, sapiente assumenda, illo fugiat labore officia voluptatum. Inventore voluptates consequatur harum!
            </p>

        </div>
    </section>


    <section class="parallax para-03">
        <div class="container">
            <h2>
                ctn 01
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus fugit qui deserunt ratione maiores rerum error, nisi rem minima, sapiente assumenda, illo fugiat labore officia voluptatum. Inventore voluptates consequatur harum!
            </p>

        </div>
    </section>

    <section class="parallax-sect para-04">
        <img ="image" class="parallax-img" src="img/building.jpg">

        <div class="container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla expedita ratione ipsa maiores? Excepturi tenetur voluptates vel iure a dolorem, provident amet. Nam officiis, illo doloremque assumenda tempore omnis inventore!
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.1.0/dist/simpleParallax.min.js"></script>


{% endblock %}
