{# index.twig #} {% extends "includes/layout.base.twig" %} {% block pageTitle %}
home -
{{ siteName }}
{% endblock %} {% block classPage %} page-tests {% endblock %} {% block page %}
<div class="container-fluid">
  <div class="d-flex">
    {# sidebar begin #}
    <!-- Sidebar -->
    {% include "includes/sidebar.twig" with { 'addClass': 'slider-home'} %} {#
    sidebar end #}

    <div class="main-content">
      <!--  @@tabulator@@ -->
      <!-- subNavCentent : begin  -->
      {% include "includes/subNavContent.twig" with { 'addClass': 'slider-home'}
      %}
      <!-- subNavCentent : end   -->

      <div class="tabulator-table-container"></div>
    </div>
  </div>
</div>
{% endblock %}
