{# index.twig #}
{% extends "includes/layout.base.twig" %}
{% block pageTitle %}
    tests 
    {{siteName}}
{% endblock %}
{% block classPage %}
     tests
{% endblock %}
{% block page %}
    <div class="container-fluid">
        <section>
             <h2> tabulator test </h2>
             <div id="example-table"></div>

        </section>
    </div>
{% endblock %}
