/*************************************************/
/*-------------------- MIXINS -------------------*/
/*************************************************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin filter($filter) {
  -webkit-filter: $filter;
     -moz-filter: $filter;
      -ms-filter: $filter;
       -o-filter: $filter;
          filter: $filter;
}

@mixin box-shadow ($x, $y, $blur, $spread, $color, $direction: false) {
  @if ($direction != false) { 
    -webkit-box-shadow: $x $y $blur $spread $color inset;
       -moz-box-shadow: $x $y $blur $spread $color inset;
         -o-box-shadow: $x $y $blur $spread $color inset;
            box-shadow: $x $y $blur $spread $color inset;
  } @else {
    -webkit-box-shadow: $x $y $blur $spread $color;
       -moz-box-shadow: $x $y $blur $spread $color;
         -o-box-shadow: $x $y $blur $spread $color;
            box-shadow: $x $y $blur $spread $color;
  }
}

@mixin transform-translate($x, $y) {
  -webkit-transform: translate($x, $y);
     -moz-transform: translate($x, $y);
       -o-transform: translate($x, $y);
          transform: translate($x, $y);
}

@mixin transform-rotate($deg) {
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
      -ms-transform: rotate($deg); /* IE 9 */
          transform: rotate($deg);
}

@mixin background-degrade1($first, $second) {
  background-image: -webkit-linear-gradient(left, $first 0%, $second 50%, $first 100%);
  background-image:    -moz-linear-gradient(left, $first 0%, $second 50%, $first 100%);
  background-image:         linear-gradient(to right, $first 0%, $second 50%, $first 100%);
}
@mixin background-degrade2($first, $second) {
	background-image: -webkit-linear-gradient(top, $first 0%, $second 100%);
	background-image:    -moz-linear-gradient(top, $first 0%, $second 100%);
	background-image:         linear-gradient(to bottom, $first 0%, $second 100%);
}

@mixin blur($var) {
  filter: blur($var);
      -webkit-filter: blur($var);
      -moz-filter: blur($var);
      -o-filter: blur($var);
      -ms-filter: blur($var);
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
       color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: $color;  
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: $color;  
    }
    &:-ms-input-placeholder {  
       color: $color;  
    }
}

@mixin animation-name($name) {
    -webkit-animation-name: $name; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-name: $name; /* Firefox < 16 */
        -ms-animation-name: $name; /* Internet Explorer */
         -o-animation-name: $name; /* Opera < 12.1 */
            animation-name: $name;
}
@mixin animation-duration($time) {
    -webkit-animation-duration: $time; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-duration: $time; /* Firefox < 16 */
        -ms-animation-duration: $time; /* Internet Explorer */
         -o-animation-duration: $time; /* Opera < 12.1 */
            animation-duration: $time;
}
@mixin animation-delay($time) {
    -webkit-animation-delay: $time; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-delay: $time; /* Firefox < 16 */
        -ms-animation-delay: $time; /* Internet Explorer */
         -o-animation-delay: $time; /* Opera < 12.1 */
            animation-delay: $time;
}
@mixin animation-fill-mode($mode) {
    -webkit-animation-fill-mode: $mode; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-fill-mode: $mode; /* Firefox < 16 */
        -ms-animation-fill-mode: $mode; /* Internet Explorer */
         -o-animation-fill-mode: $mode; /* Opera < 12.1 */
            animation-fill-mode: $mode;
}