    .page-parallalax {
    color: #fff;


        .slideP {
            min-height: 300px;
        }

        #slider1 {
            background: url('../images/silder1.jpg') center 0 no-repeat fixed;
        }

        #slider2 {
           background: url('../images/silder3.jpg') center 0 no-repeat fixed;
            background-color: #000;
        }

        #slider3 {
            background: url('../images/silder1.jpg') center 0 no-repeat fixed;
        }
    }

