        @font-face {
            font-family: 'Icomoon';
            src: url(fonts/icomoon/icomoon.eot);
            src: url(fonts/icomoon/icomoon.woff) format('woff'),
                url(fonts/icomoon/icomoon.ttf) format('truetype');
        }

        // ICONES
        $ico-id-card:'\e900';
        $ico-archive-people:'\e901';
        $ico-archive:'\e902';
        $ico-draft:'\e903';
        $ico-hand:'\e904';
        $ico-unauthorize:'\e905';
        $ico-check-valide:'\e906';
        $ico-delete:'\e907';
        $ico-refresh:'\e908';
        $ico-search:'\e909';
        $ico-edit:'\e90a';
        $ico-back:'\e90b';
        $ico-arrow-left:'\e90c';
        $ico-arrow-right:'\e90d';
        $ico-arrow-down:'\e915';
        $ico-arrow-up:'\e916';
        $ico-cross:'\e90e';
        $ico-add:'\e90f';
        $ico-download:'\e910';
        $ico-menu:'\e911';
        $ico-drag-drop:'\e912';
        $ico-down:'\e913';
        $ico-up:'\e914';
        $ico-checked-list:'\e917';
        $ico-checked-case:'\e918';
        $ico-checked-list-empty:'\e919';
        $ico-checked-case-empty:'\e91a';
        $ico-checked-circle:'\e91b';
        $ico-checked-circle-empty:'\e91d';
        $ico-check-list:'\e91e';
        $ico-hyphen:'\e91f';
        $ico-print:'\e920';
        $ico-duplicate:'\e921';

        .ico-id-card {
            &:before {
                content: $ico-id-card;
                font-family: icomoon;
            }
        }

        .ico-archive-people {
            &:before {
                content: $ico-archive-people;
                font-family: icomoon;
            }
        }

        .ico-archive {
            &:before {
                content: $ico-archive;
                font-family: icomoon;
            }
        }

        .ico-draft {
            &:before {
                content: $ico-draft;
                font-family: icomoon;
            }
        }

        .ico-hand {
            &:before {
                content: $ico-hand;
                font-family: icomoon;
            }
        }

        .ico-unauthorize {
            &:before {
                content: $ico-unauthorize;
                font-family: icomoon;
            }
        }

        .ico-check-valide {
            &:before {
                content: $ico-check-valide;
                font-family: icomoon;
            }
        }

        .ico-delete {
            &:before {
                content: $ico-delete;
                font-family: icomoon;
            }
        }

        .ico-refresh {
            &:before {
                content: $ico-refresh;
                font-family: icomoon;
            }
        }

        .ico-search {
            &:before {
                content: $ico-search;
                font-family: icomoon;
            }
        }

        .ico-edit {
            &:before {
                content: $ico-edit;
                font-family: icomoon;
            }
        }

        .ico-back {
            &:before {
                content: $ico-back;
                font-family: icomoon;
            }
        }

        .ico-arrow-left {
            &:before {
                content: $ico-arrow-left;
                font-family: icomoon;
            }
        }

        .ico-arrow-right {
            &:before {
                content: $ico-arrow-right;
                font-family: icomoon;
            }
        }

        .ico-arrow-up {
            &:before {
                content: $ico-arrow-up;
                font-family: icomoon;
            }
        }

        .ico-arrow-down {
            &:before {
                content: $ico-arrow-down;
                font-family: icomoon;
            }
        }

        .ico-cross {
            &:before {
                content: $ico-cross;
                font-family: icomoon;
            }
        }

        .ico-add {
            &:before {
                content: $ico-add;
                font-family: icomoon;
            }
        }

        .ico-download {
            &:before {
                content: $ico-download;
                font-family: icomoon;
            }
        }

        .ico-menu {
            &:before {
                content: $ico-menu;
                font-family: icomoon;
            }
        }

        .ico-drag-drop {
            &:before {
                content: $ico-drag-drop;
                font-family: icomoon;
            }
        }

        .ico-down {
            &:before {
                content: $ico-down;
                font-family: icomoon;
            }
        }

        .ico-up {
            &:before {
                content: $ico-up;
                font-family: icomoon;
            }
        }

        .ico-checked-list {
            &:before {
                content: $ico-checked-list;
                font-family: icomoon;
            }
        }

        .ico-checked-case {
            &:before {
                content: $ico-checked-case;
                font-family: icomoon;
            }
        }

        .ico-checked-list-empty {
            &:before {
                content: $ico-checked-list-empty;
                font-family: icomoon;
            }
        }

        .ico-checked-case-empty {
            &:before {
                content: $ico-checked-case-empty;
                font-family: icomoon;
            }
        }

        .ico-checked-circle {
            &:before {
                content: $ico-checked-circle;
                font-family: icomoon;
            }
        }

        .ico-checked-circle-empty {
            &:before {
                content: $ico-checked-circle-empty;
                font-family: icomoon;
            }
        }

        .ico-check-list {
            &:before {
                content: $ico-check-list;
                font-family: icomoon;
            }
        }

        .ico-hyphen {
            &:before {
                content: $ico-hyphen;
                font-family: icomoon;
            }
        }

        .ico-print {
            &:before {
                content: $ico-print;
                font-family: icomoon;
            }
        }

        .ico-duplicate {
            &:before {
                content: $ico-duplicate;
                font-family: icomoon;
            }
        }