// FONTS
$font-regular : 'OpenSans-Regular';
$font-semibold : 'OpenSans-SemiBold';
$font-bold : 'OpenSans-Bold';
$font-extrabold : 'OpenSans-ExtraBold';
$font-family-titles: $font-bold;
$font-family-content: $font-regular;
$fw-title-light: 300;
$fw-title-regular: 400;
$fw-title-bold: 700;
$fw-title-black: 900;

// --- COULEURS
$color-white: #ffffff;
$color-black: #000;
$color-red-medium: #ed202e;
$color-blue-dark-1: #354052;
$color-blue-dark: #00474d;
$color-blue-meduim: #008e98;
$color-blue-light: #00bac6;
$color-blue-light-1: #00dcea;
$color-gray-meduim: #848a97;
$color-gray-light: #afafaf;
$color-gray-light-1: #d8dae6;
$color-gray-light-2: #ddd9d9;
$color-gray-light-3: #e2e6f0;
$color-gray-light-4: #d8dae6;
$color-gray-light-5: #fafbff;


// $color-brand-primary: $color-green-meduim;
// $color-brand-secondary : $color-blue-dark;
// $color-brand-third : $color-orange-meduim;

$header-height: 150px;

// borders : 
$border-default : 1px solid $color-gray-meduim;
$border-blue-dark : 1px solid $color-blue-dark;
$border-white : 1px solid white;

// transition 
$transition : left .3s ease;
// border shadow :


/*----- RESPONSIVE ------*/
$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px);

// Grid containers
$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 991px,
    xl: 1200px);

// MEDIA QUERY
$bp-min-sm : "only screen and (min-width: #{map-get($grid-breakpoints, "sm")})"; // min 576px
$bp-min-md : "only screen and (min-width: #{map-get($grid-breakpoints, "md")})"; // min 768px
$bp-min-lg : "only screen and (min-width: #{map-get($grid-breakpoints, "lg")})"; // min 992px
$bp-min-xl : "only screen and (min-width: #{map-get($grid-breakpoints, "xl")})"; // min 1200px
$bp-max-sm : "only screen and (max-width: #{map-get($grid-breakpoints, "md")-1})"; // max 767px
$bp-max-md : "only screen and (max-width: #{map-get($grid-breakpoints, "lg")-1})"; // max 991px
$bp-max-lg : "only screen and (max-width: #{map-get($grid-breakpoints, "xl")-1})"; // max 1199px
// only small tablet : from 768 to 991
$bp-only-tablet : "only screen and (min-width: #{map-get($grid-breakpoints, "md")}) and (max-width: #{map-get($grid-breakpoints, "lg")-1})";

// spacing 
$gutter-base: 30px; // var(--gutter-base)
$gutter-half: 15px; // var(--gutter-half)
//  taille font
$fz-default : 14px; // var(--fz-default)
$fz-h1: 30px; // var(--fz-h1)
$fz-h2: 20px; // var(--fz-h2)
$fz-h3: 17px; // var(--fz-h3)
$fz-h4: 15px; // var(--fz-h4)


/* les variable conditionnel */
:root {
    --sidebar-width: 20%;
    --sidebar-margin-left: 2%;
}

@media #{$bp-max-md} {
    :root {
        --sidebar-width: 35%;
        --sidebar-margin-left: 2%;
    }
}

$sidebarWidth : var(--sidebar-width);
$sidebarMargR : var(--sidebar-margin-left);