/* Globale */
//------------------- variable global ------------------------/
//--------- COLOR ----------------/

$Gotiere : 15px ;

$primary_color : #ff4302;
$primary_color_light : lighten($primary_color, 10%);