@import "compass";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../bower_components/font-awesome/css/font-awesome.min.css";
@import "../../../bower_components/Yamm3/yamm/yamm.css"; // mega menu ...
@import "global";
/*---------------------- layoutage globale------------------------*/
#wrapper, .page {
  min-height: 600px;
  background-color: #fff;
  margin: 0 auto;
 //  padding: $Gotiere;
}

.header {
  .logo {
    float: left;
  }
  .user {
    @include make-sm-column(5);  /* $grid-columns/2*/
    background-color: #ffff00;
    float: right !important;
  }
}


#mainMenu {
  border-radius: 0px;
  border: none;
  background-color: $primary_color;
  color :  white;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .dropdown-menu {
    background-color:$primary_color;
  }
}
/*--------------------- page/bloc spécifique -----------------------*/