@import "compass";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../bower_components/font-awesome/css/font-awesome.min.css";
@import "../../../bower_components/Yamm3/yamm/yamm.css"; // mega menu ...
@import "global";
/*---------------------- layoutage globale------------------------*/
#wrapper, .page {
  min-height: 600px;
  background-color: #fff;
  margin: 0 auto;
 //  padding: $Gotiere;
}

.header {
  .logo {
    float: left;
  }
  .user {
    @include make-sm-column(5);  /* $grid-columns/2*/
    background-color: #ffff00;
    float: right !important;
  }
}


#mainMenu {
  border-radius: 0px;
  border: none;
  margin: 0;
  background-color: $primary_color;
  color :  white;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .dropdown-menu {
    background-color:$primary_color;
  }
}

.home-banner{
   $hb-hight : 456px;
   margin-bottom: $Gotiere;
   position: relative;
   .hb-message {
     padding: $Gotiere;
     color: white;
     background-color: rgba(0,0,0,0.55);

     @media (min-width: $screen-md-min) {
       position: absolute;
       right: 0;
       width: 50%;
       top: 33%;
     }

     @media (min-width: $screen-lg-min) {
     }

   }

   img {
     @extend .img-responsive;
   }
}

.home-widget {
   @include make-sm-column(4);
   margin-bottom: $Gotiere;
  .hw_title {
    @extend .h1-title;
    height: 40px; line-height: 40px;
    text-align: center;
    background-color: $secondary_color_light ;
  }
  .hw_content {

    min-height: 250px;
    border : 1px solid #ccc;
    border-top: none;
  }
}
/*--------------------- page/bloc spécifique -----------------------*/