@import "compass";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../bower_components/font-awesome/css/font-awesome.min.css";
@import "../../../bower_components/Yamm3/yamm/yamm.css"; // mega menu ...
@import "global";
/*---------------------- layoutage globale------------------------*/
#wrapper {
  min-height: 600px;
  background-color: #fff;
  margin: 0 auto;
  padding: $Gotiere;
}

/*#mainMenu {
  border-radius: 0px;
  border: none;
  background-color: #000000;
  color :  white;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}*/
/*--------------------- page/bloc spécifique -----------------------*/