<!--The content below is only a placeholder and can be replaced.-->
<div class="cpt-app">
  <header>
    <div class="container">
      <app-main-menu></app-main-menu>
    </div>
  </header>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Mes appareils</h2>
          <ul class="list-group">
            <app-appareil></app-appareil>
            <app-appareil></app-appareil>
            <app-appareil></app-appareil>
          </ul>
           <!-- <button class="btn btn-success" disabled>Tout allumer</button> -->
           <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout allumer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
  
</div>