<header>

    <div class="container-fluid">
        <div
            class="row d-flex justify-content-end">

            <!-- Première barre de navigation -->
            <nav class="navbar navbar-expand-sm ">
                <ul class="navbar-nav mr-auto flex-row">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Outil</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Aide</a>
                    </li>

                    <li class="nav-item dropdown dropdown-user">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                            Laurent
                        </a>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Changer mon mot de passe
                            </a>
                            <a class="dropdown-item" href="#">Gérer les utilisateurs
                            </a>
                            <a class="dropdown-item" href="#">Se déconnecter</a>
                        </div>
                    </li>
                </ul>
            </nav>

        </div>
        <div
            class="row">

            <!-- Seconde barre de navigation -->
            <ul class="navbar-nav mr-auto flex-row">
                <li class="nav-item active">
                    <ul class="navbar-nav mr-auto concerned-company">
                        <div class="concerned-company-img">
                            <img alt="" src="./img/logo.png">
                        </div>
                        <span>RiskEv pour</span>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Air Liquide</a>
                            <div class="dropdown-menu dropdown-menu-left">
                                <a class="dropdown-item actual opened" href="#">Air Liquide</a>
                                <a class="dropdown-item" href="#">Total</a>
                                <a class="dropdown-item" href="#">Engie</a>

                                <div class="container-fluid">
                                    <div class="row row-button mt-5 mb-2">
                                        <div class="col-md-12">
                                            <button class="btn btn-secondary btn-company" type="button">Ajouter une organisation</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div
            class="row">

            <!-- Troisième barre de navigation -->
            <div class="container-fluid">
                <nav class="navbar navbar-expand-sm row second-navbar">
                    <div class="col-lg-4 col-md-1"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <ul class="navbar-nav mr-auto d-flex justify-content-around flex-row">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Produits</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Risque chimique</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Risque pro</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Données</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Traçabilité</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Salariés</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</header>
