<nav class="sidebar {{addClass}}">

    <div class="menu-burger-sidebar">
        <i class="menu-burger-sidebar-icon ico-arrow-left"></i>
    </div>

    <div class="maj-panel-sidebar">
        <p>Mettre à jour</p>
    </div>

    <div
        class="sub-sidebar first">
        <!-- Mon organisation -->
        <div class="container sidebar-search-container">
            <div class="row sidebar-search-content-hide">
                <p class="sidebar-search-container-title">
                    Mon organisation
                    <i class="ico-menu sidebar-search-menu"></i>
                </p>
            </div>

            <div class="row hide sidebar-search-selection">
                <ul>
                    <li class="sidebar-orga">
                        <i class="ico-add"></i>
                        Gérer mon organisation
                    </li>
                    <li class="sidebar-search">
                        <i class="ico-search"></i>
                        Rechercher
                    </li>
                    <li class="sidebar-select-all-tree">
                        <i class="ico-check-list"></i>
                        Tout sélectionner
                    </li>
                    <li class="sidebar-unselect-all-tree">
                        <i class="ico-hyphen"></i>
                        Tout déselectionner
                    </li>
                </ul>
            </div>
        </div>

        <div class="nano">
            <div
                class="nano-content">
                <!-- jsTree -->
                <div class="container sidebar-tree-container">
                    <div class="row">
                        <div class="jstree jstree-one">
                            <ul>
                                <li>
                                    Armator
                                    <ul>
                                        <li id="child_node_1">Débit 1</li>
                                        <li>
                                            Vulcanisation
                                            <ul>
                                                <li>Unité 1</li>
                                                <li>Unité 2</li>
                                                <li>Unité 2</li>
                                                <li>Unité 2</li>
                                                <li>Unité 2</li>
                                                <li>Unité 2</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>Unité 222</li>
                                                <li>FINFINFINFIN</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div
        class="sub-sidebar seconde">
        <!-- Facteurs de risques -->
        <div class="container sidebar-search-container">
            <div class="row sidebar-search-content-hide">
                <p class="sidebar-search-container-title">
                    Facteurs de risques
                    <i class="ico-menu sidebar-search-menu"></i>
                </p>
            </div>

            <div class="row hide sidebar-search-selection">
                <ul>
                    <li class="sidebar-orga">
                        <i class="ico-add"></i>
                        Gérer mon organisation
                    </li>
                    <li class="sidebar-search">
                        <i class="ico-search"></i>
                        Rechercher
                    </li>
                    <li class="sidebar-select-all-tree">
                        <i class="ico-check-list"></i>
                        Tout sélectionner
                    </li>
                    <li class="sidebar-unselect-all-tree">
                        <i class="ico-hyphen"></i>
                        Tout déselectionner
                    </li>
                </ul>
            </div>
        </div>

        <div class="nano">
            <div
                class="nano-content">
                <!-- jsTree -->
                <div class="container sidebar-tree-container">
                    <div class="row">
                        <div class="jstree jstree-two">
                            <ul>
                                <li>Agents chimiques dangereux</li>
                                <li>
                                    Facteurs de pénibilité
                                    <ul>
                                        <li>Postures pénibles</li>
                                        <li>Mileux hyperbare</li>
                                        <li>Manutentions manuelles</li>
                                        <li>Postures pénibles</li>
                                        <li>Postures pénibles</li>
                                        <li>Manutentions manuelles</li>
                                        <li>Mileux hyperbare</li>
                                        <li>Postures pénibles</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
