<div class="d-flex justify-content-between sub-nav-content {{addClass}}">

    <div class="col-lg-3 col-sm-4 col-md-4">
        <ul class="flex-row row nsc-tab">
            <li class="col-md-6 active">
                <span>EVALUTATIONS (8)</span>
            </li>
            <li class="col-md-6">ACTIONS (5)</li>
        </ul>
    </div>
    <div class="col-lg-5 col-sm-5 col-md-5">
        <div class="nsc-search">
            <form action="">
                <fieldset>
                    <i class="ico-search"></i>
                    <input class="nsc-search-input" placeholder="Rechercher dans les évaluations" type="text"/>
                    <i class="ico-cross nsc-search-cross hide"></i>
                    <i class="ico-up nsc-search-open-full"></i>
                    <div class="nsc-search-full"></div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-2 col-sm-2 col-md-2 d-flex justify-content-end">
        <a class="btn-add"></a>
        <a class="btn-download"></a>
    </div>
</div>
